.content-thanks {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: -72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @include to(movil) {
    padding: 0 16px;
    text-align: center;
  }
  h2 {
    font-family: seat-bold;
    color: #33302e;
    font-size: 48px;
    @include to(movil) {
      margin-top: 72px;
    }
  }
  p {
    color: rgba(15, 15, 15, 0.6);
    font-family: seat-medium;
    margin-top: 25px;
  }
  a {
    padding: 10px 20px;
    background-color: #ea5d1a;
    border-radius: 4px;
    color: white;
    width: 280px;
    text-align: center;
    font-family: seat-bold;
    margin-top: 40px;
    cursor: pointer;
  }
}
