$backgroundHeader: white;
$boderBotton: #a1a1a1;
$azulMenu: #001529;
$colorBorde: #01111f;
$hoverButton: #ee0034;
$hoverBorder: #c2022b;
$backGray: #f0f2f5;

$naranja: #f3826f;
$amarillo: #fec520;
$celeste: #216583;

$azul: rgba(0, 21, 41, 1);
$rosado: rgba(238, 0, 52, 0.9);
$blanco: #fff;
$plomo-back: #faf6fb;
