<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>
		<meta
			name="description"
			content="Mobland - Mobile App Landing Page Template"
		/>
		<meta
			name="keywords"
			content="HTML5, bootstrap, mobile, app, landing, ios, android, responsive"
		/>
		<link rel="icon" href="<%= BASE_URL %>favicon.png" />

		<!-- Font -->
		<link rel="dns-prefetch" href="//fonts.googleapis.com" />
		<link
			href="https://fonts.googleapis.com/css?family=Rubik:300,400,500"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link
			href="https://cdn.jsdelivr.net/npm/boxicons@2.0.4/css/boxicons.min.css"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Bungee+Inline&display=swap"
			rel="stylesheet"
		/>
		<!--bootstrap-->

		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
			integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
			crossorigin="anonymous"
		/>
		<script
			src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"
		></script>
		<script src="https://kit.fontawesome.com/ce250051b3.js"></script>

		<title>Funny</title>
	</head>

	<body>
		<noscript>
			<strong
				>We're sorry but f1 doesn't work properly without JavaScript enabled.
				Please enable it to continue.</strong
			>
		</noscript>
		<div id="app"></div>

		<!-- built files will be auto injected -->

		<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
		<script>
			AOS.init({
				duration: 1000,
			});
		</script>
	</body>

	<style>
		html {
			scroll-behavior: smooth;
		}
		* {
			margin: 0;
			padding: 0;
		}
		body {
			font-family: 'PT Sans', sans-serif;
		}
	</style>
</html>
