<template>
  <div class="about">
    <PulseLoader :loading="true" color="#505050" :size="size"></PulseLoader>
    <sync-loader :loading="true" :color="color" :size="size"></sync-loader>
  </div>
</template>
<script>
import PulseLoader from "vue-spinner/src/PulseLoader.vue";
import SyncLoader from "vue-spinner/src/SyncLoader.vue";

export default {
  data() {
    return {
      show: false,
      loading: "cargando",
      color: "#505050",
      size: "25 px"
    };
  },
  methods: {
    change() {
      this.show = !this.show;
    }
  },
  components: {
    PulseLoader,
    SyncLoader
  }
};
</script>
<style lang="scss">
.press {
  padding: 10px;
  background: blue;
}
.fade-enter-active,
.fade-leave-active {
  transition: all 5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.about {
  height: 100vh;
  // background: rgb(0, 21, 41);
  // background: linear-gradient(
  // 	148deg,
  // 	rgba(0, 21, 41, 1) 11%,
  // 	rgba(238, 0, 52, 1) 100%
  // );
  background-color: rgba(138, 43, 226, 0.55);
}
</style>
