<template>
  <div class>
    <div class="header-home-desktop col-12">
      <div
        @click="changeComp(1)"
        class="col-1"
        :class="componentId=='ContentHome' ? 'header-home-desktop__item--selected':'header-home-desktop__item'"
      >INICIO</div>
      <div
        @click="changeComp(3)"
        class="col-1"
        :class="componentId=='ClubHome' ? 'header-home-desktop__item--selected':'header-home-desktop__item'"
      >CLUBES</div>
      <div class="header-home-desktop__item col-2">
        <div class="header-home-desktop__item--img">
          <a @click="toHome()">
            <img src="../assets/funny_logo_with_stars.png" alt width="150px" />
          </a>
        </div>
      </div>
      <div
        @click="changeComp(2)"
        class="col-1"
        :class="componentId=='UserHome' ? 'header-home-desktop__item--selected':'header-home-desktop__item'"
      >USUARIOS</div>
      <div class="header-home-desktop__item col-2">
        <div class="header-home-desktop__item--btn">
          <a @click="toLogin">INGRESAR</a>
        </div>
      </div>
    </div>
    <div class="header-home-mobile col-12">
      <div class="header-home-mobile__container col-12">
        <div class="header-home-mobile__logo">
          <img src="../assets/funny_logo_with_stars.png" width="100%" alt />
        </div>
        <div class="header-home-mobile__btns">
          <button @click="showList =!showList">&#9776</button>
        </div>
      </div>
      <transition name="showlist">
        <div class="header-home-mobile__list col-12" v-if="showList">
          <div class="header-home-mobile__list--option">
            <a @click="changeComp(1)">Inicio</a>
          </div>
          <div class="header-home-mobile__list--option">
            <a @click="changeComp(2)">Usuarios</a>
          </div>
          <div class="header-home-mobile__list--option">
            <a @click="changeComp(3)">Club</a>
          </div>
        </div>
      </transition>
    </div>
    <component :is="componentId"></component>
    <div class="footer-home col-12">
      <div class="footer-home__goodbye col-md-12">
        <img src alt />
        <h4>Gracias por visitar Funny</h4>
      </div>
      <div class="footer-home__container col-md-12">
        <div class="footer-home__meet col-md-2">
          <h4>Conoce</h4>
          <p>¿Qué es Funny?</p>
          <p>¿Quiénes somos?</p>
        </div>
        <div class="footer-home__meet col-md-3">
          <h4>Contacto</h4>
          <p>hola@funny.pe</p>
        </div>
        <div class="footer-home__social col-md-5">
          <h4>Siguenos</h4>
          <p>
            <i class="fab fa-facebook-square"></i>
          </p>
          <p>
            <i class="fab fa-instagram"></i>
          </p>
          <p>
            <i class="fab fa-whatsapp"></i>
          </p>
        </div>
        <div class="footer-home__copy col-md-2">
          <p>
            Copyright
            <i class="far fa-copyright"></i> 2019 Funny
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import ContentHome from "@/components/ContentHome";
import UserHome from "@/components/UserHome";
import ClubHome from "@/components/ClubHome";

export default {
  name: "home",
  data() {
    return {
      componentId: "ContentHome",
      showList: false
    };
  },
  components: {
    ContentHome,
    UserHome,
    ClubHome
  },
  methods: {
    changeComp(index) {
      if (index === 1) {
        this.componentId = "ContentHome";
      } else if (index === 2) {
        this.componentId = "UserHome";
      } else if (index === 3) {
        this.componentId = "ClubHome";
      }
      this.showList = false;
    },
    toLogin() {
      this.$router.push({ name: "login" });
    },
    toHome() {
      this.$router.push({ name: "home" });
    }
  },
  computed: {}
};
</script>
<style lang="scss">
@import "../assets/scss/variables.scss";
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
.header-home-desktop {
  flex-direction: row;
  height: auto;
  background: #111321;
  color: #8f9095;
  height: 100px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
  @media (min-width: 320px) {
    display: none;
  }

  @media (min-width: 768px) {
    display: flex;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    &--selected {
      display: flex;
      height: 100%;
      background: rgb(9, 10, 17);
      align-items: center;
      text-align: center;
      justify-content: center;
      color: $backGray;
    }
    &--btn {
      a {
        background: $hoverButton;
        padding: 7px 15px  ;
        border-radius: 3px;
        color: white  ;
        cursor: pointer;
        &:hover {
          text-decoration: none;
          color: white;
        }
      }
    }
    &--img {
      cursor: pointer;
    }
  }
}
.header-home-mobile {
  @media (min-width: 320px) {
    display: flex;
  }

  @media (min-width: 768px) {
    display: none;
  }
  background: #111321;
  padding: 5px 10px  ;
  &__container {
    display: flex;
    flex-direction: row;
  }
  &__list {
    padding: 10px 15px  ;
    color: $backGray;
    font-weight: bold;
    &--option {
      margin-top: 5px  ;
      border-bottom: 1px solid #7b7b80;
    }
  }
  &__logo {
    width: 70%;
    img {
      width: 70%;
    }
  }
  &__btns {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      width: 70%;
      height: 70%;
      font-size: 30px;
      border: 5px solid $hoverButton;
      color: $hoverButton;
      background: #111321;
      &:focus {
        outline: 0px;
      }
    }
  }
}
.footer-home {
  background: rgb(9, 10, 17);
  padding: 15px 35px  ;
  color: $backGray;
  display: flex;
  @media (min-width: 320px) {
    flex-direction: column;
  }

  @media (min-width: 768px) {
    flex-direction: column;
  }
  &__container {
    display: flex;

    @media (min-width: 320px) {
      flex-direction: column;
      padding: 10px 5px  ;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      padding: 20px 35px  ;
    }
  }
  h4 {
    color: $hoverButton;
  }
  &__goodbye {
    text-align: center;
    p {
      font-size: 20px;
    }
  }
  &__meet {
    margin-top: 15px  ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__social {
    margin-top: 15px  ;
    display: flex;
    flex-direction: row;
    p {
      margin-left: 30px  ;
      font-size: 25px;
    }
  }
  &__copy {
    margin-top: 15px  ;
  }
}
.showlist-enter,
.showlist-leave-to {
  transform: scaleY(0.7);
  opacity: 0;
}

.showlist-enter-to,
.showlist-leave {
  opacity: 1;
  transform: scaleY(1);
}

.showlist-enter-active,
.showlist-leave-active {
  transition: all 0.4s ease-out;
  transform-origin: top center;
}
</style>