<template>
  <div style="">
    <!-- <pre>{{ $data }}</pre> -->
    <header id="inicio" class="header">
      <div class="header-nav fixed-top">
        <div class="header-nav__img">
          <img src="../assets/img/funny.png" alt="" />
        </div>
        <div class="header-nav__menubtn">
          <a
            class=""
            data-toggle="collapse"
            href="#collapseExample"
            role="button"
            aria-expanded="false"
            aria-controls="collapseExample"
          >
            <i class="bx bx-menu"></i>
          </a>
        </div>
      </div>
      <div class="header-nav-web fixed-top">
        <div class="header-nav-web__img">
          <img src="../assets/img/funny.png" alt="" />
        </div>
        <div class="header-nav-web__tabs">
          <a href="#inicio" class="active"> Inicio</a>
          <a href="#caracteristicas" class=""> Caracteristicas</a>
          <a href="#app" class=""> App</a>
          <a href="#contactanos" class=""> Contáctanos</a>
        </div>
      </div>
      <div class="header-menu collapse " id="collapseExample">
        <ul>
          <li><a href="#inicio" class="header-menu__item">Inicio</a></li>
          <li>
            <a href="#caracteristicas" class="header-menu__item"
              >Caracteristicas</a
            >
          </li>
          <li><a href="#app" class="header-menu__item">App</a></li>
          <li>
            <a href="#contactanos" class="header-menu__item">Contáctanos</a>
          </li>
        </ul>
      </div>
      <div class="header-content">
        <div class="header-content__title">
          <h1 v-scroll>Funny</h1>
        </div>
        <div class="header-content__text">
          <p>¿Estas preparado para la diversón?</p>
        </div>
        <div class="header-content__img">
          <img src="../assets/img/iphonex.png" alt="" />
        </div>
      </div>
    </header>
    <div class="section">
      <div class="section-back">
        <div class="section-back__title">
          <h3>Detalles que enamoran</h3>
        </div>
        <div class="section-back__card">
          <div class="section-back__card--icon">
            <span><i class="bx bx-smile"></i></span>
          </div>
          <div class="section-back__card--text">
            <h4>Simple</h4>
            <p>Encuentra eventos con click y diviertete</p>
          </div>
        </div>
        <div class="section-back__card ">
          <div class="section-back__card--icon">
            <span><i class="bx bxs-cog"></i></span>
          </div>
          <div class="section-back__card--text">
            <h4>Personalizable</h4>
            <p>Encuentra eventos cerca a ti con tu ubicación</p>
          </div>
        </div>
        <div class="section-back__card ">
          <div class="section-back__card--icon">
            <span><i class="bx bx-lock-alt"></i></span>
          </div>
          <div class="section-back__card--text">
            <h4>Seguro</h4>
            <p>En funny no exponemos tu información</p>
          </div>
        </div>
        <div class="section-back__info row">
          <div class="section-about col-xs-12 col-md-6">
            <div class="section-back__info--title">
              <h3>Descubre Funny</h3>
            </div>
            <div class="section-back__info--text">
              <p>
                En Funny revolucionamos la forma de divertirse, solo necesitas
                las ganas, por que la diversión la pone Funny.
              </p>
            </div>
          </div>
          <div class="section-back__info--img col-xs-12 col-md-6">
            <img src="../assets/img/perspective.png" alt="" />
          </div>
        </div>
        <div id="caracteristicas" class="section-back__more">
          <div class="section-back__container">
            <div class="section-back__more--title">
              <h3>Mas acerca de Funny</h3>
            </div>

            <ul class="section-back__more--tabs nav nav-tabs" role="tablist">
              <li class="section-back__container--tab nav-item ">
                <a
                  class="nav-link active"
                  data-toggle="tab"
                  href="#communication"
                  >Diversión</a
                >
              </li>
              <li class="section-back__container--tab tab-nav nav-item">
                <a class="nav-link" data-toggle="tab" href="#schedule"
                  >Listas</a
                >
              </li>
              <li class="section-back__container--tab tab-nav nav-item">
                <a class="nav-link" data-toggle="tab" href="#messages"
                  >Entradas</a
                >
              </li>
              <li class="section-back__container--tab tab-nav nav-item">
                <a class="nav-link" data-toggle="tab" href="#livechat"
                  >Promos</a
                >
              </li>
            </ul>
          </div>
          <div class="section-back__more--tab tab-content">
            <div
              class="section-back__tab-content tab-pane fade show active"
              id="communication"
            >
              <div class="d-flex flex-column flex-lg-row">
                <img
                  src="../assets/img/graphic.png"
                  alt="graphic"
                  class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"
                />
                <div>
                  <h2>Nueva forma de diversión</h2>
                  <p class="lead">Encuentra tu diversión en solo un click</p>
                  <p>
                    En Funny entendemos que menos es mas, y por eso te hacemos
                    la vida mas fácil, olvidate de memorizar nombres de
                    discotecas, o no enterarte de lo que pasa cerca de ti.
                  </p>
                  <p>
                    Con tu ubicación el algoritmo de Funny ubica los eventos
                    cercanos, mostrandolos en un mapa, y por si eso no fuera
                    suficiente, tenemos la opción de buscar por distrito,
                    discoteca y artista, genial no?, nosotros te buscamos la
                    diversión tu solo disfruta.
                  </p>
                </div>
              </div>
            </div>
            <div class="section-back__tab-content tab-pane fade" id="schedule">
              <div class="d-flex flex-column flex-lg-row">
                <div>
                  <h2>Diversión en grupo</h2>
                  <p class="lead">
                    La diversión no es completa si no es con tu mancha.
                  </p>
                  <p>
                    En funny que la diversión no esta completa, si no es con tus
                    amigos, por eso tenemos la opción de armar listas, para que
                    nadie tenga excusa y pueda disfrutar.
                  </p>
                </div>
                <img
                  src="../assets/img/graphic.png"
                  alt="graphic"
                  class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"
                />
              </div>
            </div>
            <div class="section-back__tab-content tab-pane fade" id="messages">
              <div class="d-flex flex-column flex-lg-row">
                <img
                  src="../assets/img/graphic.png"
                  alt="graphic"
                  class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"
                />
                <div>
                  <h2>Olvida las colas</h2>
                  <p class="lead">Compra entradas con anticipación</p>
                  <p>
                    Compra tus entrdas para ti y toda tu mancha, evita colas y
                    accede a descuentos especiales por compras a traves de la
                    app.
                  </p>
                </div>
              </div>
            </div>
            <div class="section-back__tab-content tab-pane fade" id="livechat">
              <div class="d-flex flex-column flex-lg-row">
                <div>
                  <h2>El poder en tus manos</h2>
                  <p class="lead">Encuentra promociones y descuentos</p>
                  <p>
                    Planea tu diversión completa, arma tu lista de tragos y
                    obten descuentos sobre los precios dentro de la discoteca.
                  </p>
                </div>
                <img
                  src="../assets/img/graphic.png"
                  alt="graphic"
                  class="img-fluid rounded align-self-start mr-lg-5 mb-5 mb-lg-0"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div :class="{ activeStep: one }" class="brn"></div>
      <div :class="{ activeStep: two }" class="brn"></div>
      <div :class="{ activeStep: three }" class="brn"></div>
    </div>

    <div class="steps container-fluid">
      <div class="steps-container row">
        <div class="col-xs-12 col-md-6">
          <div class="steps__step">
            <div class="steps__step--number">
              <span :class="{ activeStep: one }"><p>1</p></span>
            </div>
            <div class="steps__step--text">
              <h5>Descarga Funny</h5>
              <p>
                Al descargar Funny crea una cuenta, e introduce tus datos
                personales, recuerda que en Funny tu información es segura.
              </p>
            </div>
          </div>
          <div class="steps__step">
            <div class="steps__step--number">
              <span :class="{ activeStep: two }"><p>2</p></span>
            </div>
            <div class="steps__step--text">
              <h5>Busca tu evento</h5>
              <p>Busca el evento de tu preferencia y arma tu lista.</p>
            </div>
          </div>
          <div class="steps__step">
            <div class="steps__step--number">
              <span :class="{ activeStep: three }"><p>3</p></span>
            </div>
            <div class="steps__step--text">
              <h5>Divierte</h5>
              <p>Ahora solo divierte!</p>
            </div>
          </div>
        </div>
        <div class="steps__img col-xs-12 col-md-6">
          <img src="../assets/img/iphonex.png" alt="" />
        </div>
      </div>
    </div>

    <div class="screen section light-bg" id="gallery">
      <div class="container">
        <div class="screen__title section-title">
          <h3>App Screenshots</h3>
        </div>

        <div class="screen__img img-gallery owl-carousel owl-theme">
          <div>
            <b-carousel
              id="carousel-fade"
              style="text-shadow: 0px 0px 2px #000"
              fade
              indicators
              img-width="1024"
              img-height="480"
              :interval="5000"
            >
              <b-carousel-slide
                img-src="../assets/img/screen1.jpg"
              ></b-carousel-slide>
              <b-carousel-slide
                img-src="../assets/img/screen2.jpg"
              ></b-carousel-slide>
              <b-carousel-slide
                img-src="../assets/img/screen3.jpg"
              ></b-carousel-slide>
            </b-carousel>
          </div>
        </div>
        <div class="screen__img-web">
          <div class="screen__img-web--img">
            <img src="../assets/img/screen1.jpg" alt="" />
          </div>
          <div class="screen__img-web--img">
            <img src="../assets/img/screen2.jpg" alt="" />
          </div>
          <div class="screen__img-web--img">
            <img src="../assets/img/screen3.jpg" alt="" />
          </div>
          <div class="screen__img-web--img">
            <img src="../assets/img/screen1.jpg" alt="" />
          </div>
        </div>
      </div>
    </div>

    <div class="questions section">
      <div class="questions-container container">
        <div class="questions__title section-title">
          <h3 v-scroll>Preguntas Frecuentes</h3>
        </div>

        <div class="questions__answers row pt-4">
          <div class="questions__answers--answer col-md-6">
            <h4 class="mb-3">¿Puedo comprar mas de una entrada?</h4>
            <p class="light-font mb-5">
              Si, puedes comprar mas de una entrada para ti y todos tus amigos.
            </p>
            <h4 class="mb-3">¿Qué metodos de pago aceptan?</h4>
            <p class="light-font mb-5">
              Aceptamos todas las tarjetas, y contamos con un protocolo de
              seguridad que mantiene tu información segura.
            </p>
          </div>
          <div class="questions__answers--answer col-md-6">
            <h4 class="mb-3">¿Hay un mínimo de personas por lista?</h4>
            <p class="light-font mb-5">
              Si, en general el mínimo es 10 personas, pero esto puede variar
              segun las discoteca.
            </p>
            <h4 class="mb-3">¿Cómo ingreso a la discoteca?</h4>
            <p class="light-font mb-5">
              Se enviara un boucher de pago a tu correo con un código QR, este
              mismo código se queda almacenado en la app para que puedas
              ingresar al evento.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div id="contactanos" class="donwload section bg-gradient">
      <div class="donwload-container container">
        <div class="call-to-action">
          <div class="donwload__icon box-icon">
            <span>
              <i class="fas fa-mobile-alt"></i>
            </span>
          </div>
          <div class="donwload__text">
            <h2>Descarga Aquí</h2>
            <p class="tagline">
              Disponible para Android y muy pronto para IOS.
            </p>
          </div>
          <div class="donwload__android my-4">
            <!-- <a href="#" class="btn btn-light"><img src="images/appleicon.png" alt="icon"> App Store</a> -->
            <a href="#" class="btn btn-light"
              ><img src="../assets/img/playicon.png" alt="icon" /> Play Store</a
            >
          </div>
          <!-- <p class="text-primary"><small><i>*Works on iOS 10.0.5+, Android Kitkat and above. </i></small></p> -->
        </div>
      </div>
    </div>

    <div class="contact light-bg py-5" id="contact">
      <div class="container">
        <div class="row">
          <div class="contact-container col-lg-6 text-center text-lg-left">
            <div class="contact__lima">
              <p class="mb-2"><i class="bx bx-map mr-2"></i> Lima, Perú</p>
            </div>
            <div class="contact__link d-block d-sm-inline-block">
              <p class="mb-2">
                <i class="bx bxs-envelope mr-2"></i>
                <a class="mr-4" href="mailto:support@mobileapp.com">
                  hola@funnyapp.com</a
                >
              </p>
            </div>
            <div class="contact__link d-block d-sm-inline-block">
              <p class="mb-0">
                <i class="bx bxs-phone mr-2"></i>
                <a href="tel:51836362800"> 518-3636-2800</a>
              </p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="contact__social social-icons">
              <span class="contact__social--icon">
                <a href="#"><i class="bx bxl-facebook"></i></a>
              </span>
              <span class="contact__social--icon">
                <a href="#"><i class="bx bxl-instagram"></i></a>
              </span>
              <span class="contact__social--icon">
                <a href="#"><i class="bx bxl-youtube"></i></a>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer my-5 text-center">
      <div class="footer__copy">
        <p class="mb-2">
          <small
            >COPYRIGHT © 2020. Derechos reservados <a href="">Funny</a></small
          >
        </p>
      </div>

      <div class="footer__links">
        <small>
          <a href="#" class="m-2">Inicio</a>
          <a href="#" class="m-2">Términos y condiciones</a>
          <a href="#" class="m-2">Privacidad</a>
        </small>
      </div>
    </footer>
  </div>
</template>
<script>
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";

export default {
  data() {
    return {
      one: true,
      two: false,
      three: false,
      header: false,
      scroll: true,
      settings: {
        dots: true,
        dotsClass: "slick-dots custom-dot-class",
        edgeFriction: 0.35,
        infinite: false,
        speed: 500,
        slidesToShow: 1,
        slidesToScroll: 1,
        arrow: true
      },
      position: { scrollTop: 0, scrollLeft: 0 },
      flag: true
    };
  },
  methods: {},
  components: { VueSlickCarousel },
  created() {
    setInterval(() => {
      if (this.one == true) {
        return (this.one = false), (this.three = false), (this.two = true);
      } else if (this.two == true) {
        return (this.one = false), (this.three = true), (this.two = false);
      } else if (this.three == true) {
        return (this.one = true), (this.three = false), (this.two = false);
      }
    }, 2000);
  }
};
</script>
<style lang="scss">
@import "../assets/scss/variables";

.header {
  z-index: 1;
  background: $azul;
  background: linear-gradient(148deg, $azul 11%, $rosado 100%);
  max-height: 100vh;

  &-nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 10px;
    height: 100px;
    background: $azul;
    width: 100%;
    &__img {
      height: 100%;
      img {
        height: 70px;
      }
    }
    &__menubtn {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        font-size: 48px;
        color: $blanco;
        &:hover {
          color: $blanco;
        }
      }
    }
  }
  .header-menu {
    position: fixed;
    text-align: center;
    width: 100%;
    background: $azul;
    background: linear-gradient(148deg, $azul 11%, $rosado 100%);
    z-index: 100;
    ul {
      list-style: none;
      li {
        margin: 20px 0;
        a {
          color: $blanco;
          text-decoration: none;
        }
        a:active {
          color: $rosado;
          text-decoration: none;
        }
        a:hover {
          color: $blanco;
        }
      }
    }
  }
  .header-content {
    padding: 0 15px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      margin-top: 75px;
      h1 {
        color: $blanco;
        font-size: 64px;
        margin: 0;
        font-family: "Bungee Inline", cursive;
      }
    }
    &__text {
      margin-top: 25px;
      p {
        color: $blanco;
        font-size: 14px;
      }
    }
    &__img {
      margin-top: 25px;
      width: 100%;
      img {
        z-index: -1;
        width: 100%;
      }
    }
  }
}
.section {
  width: 100%;
  z-index: 10;
  display: flex;
  &-back {
    padding: 50px 20px;
    background-color: $plomo-back;
    width: 100%;
    height: 100%;
    &__title {
      padding: 0 15px;
      text-align: center;
      h3 {
        margin: 0;
        font-size: 36px;
        font-weight: 600;
        color: $rosado;
      }
    }
    &__card {
      margin-top: 35px;
      display: grid;
      grid-template-columns: 1fr 3fr;
      background: $blanco;
      box-shadow: 0px 0px 5px 1px rgba(199, 199, 199, 1);
      &--icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: rgb(246, 115, 176);
        border-left: 3px solid $rosado;
        span {
          font-size: 48px;
        }
      }
      &--text {
        display: flex;
        flex-direction: column;
        padding: 5px;
        box-sizing: border-box;
        h4 {
          color: $rosado;
        }
        p {
          color: $azul;
        }
      }
    }
    &__more {
      margin-top: 100px;
      padding: 10px;
      background: $plomo-back !important;
      .section-back__container {
        &--tab {
          width: 25% !important;
        }
      }
      &--title {
        h3 {
          margin-top: 10px;
          color: $rosado;
          font-size: 36px;
          text-align: center;
        }
      }
      &--tabs {
        margin-top: 50px;
        li {
          border: none !important;
          text-align: center;
          a {
            border: none !important;
            background-color: #f5eff7;
            color: #b7a6c9 !important;
          }
          a.active {
            border: none !important;

            border-top: 5px solid $rosado !important;
            color: $rosado !important;
          }
        }
      }
      &--tab {
        background: $blanco;
        padding: 25px 15px 0 15px;
        .lead {
          color: #f04066;
          margin-top: 10px;
        }
        h2 {
          color: $rosado;
        }
        p {
          margin-top: 25px;
          color: $azul;
        }
      }
    }
    &__info {
      background: $blanco;
      margin-top: 100px;
      padding: 10px;
      &--title {
        color: $rosado;
      }
      &--text {
        color: $azul;
      }
      &--img {
        img {
          width: 100%;
        }
      }
    }
  }
}

.steps {
  background-color: $plomo-back;
  &-container {
    padding: 50px 25px;
  }
  &__step {
    display: grid;
    grid-template-columns: 1fr 3fr;
    min-height: 150px;
    &--number {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15px 0 0;
      span {
        height: 60px;
        width: 60px;
        background-color: $blanco;
        box-shadow: 0px 0px 15px 1px rgba(133, 133, 133, 1);
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $rosado;
        p {
          margin: 0;
          font-size: 24px;
        }
      }
    }
    &--text {
      display: flex;
      justify-content: center;
      align-items: flex-;
      flex-direction: column;
      padding: 0 10px;
      h5 {
        color: $rosado;
      }
      p {
        font-size: 14px;
      }
    }
  }
  &__img {
    img {
      width: 100%;
    }
  }
}
.activeStep {
  background-color: $rosado !important;
  color: $blanco !important;
}
.screen {
  padding: 25px !important;
  &__title {
    text-align: center;
    h3 {
      color: $rosado;
      font-size: 30px;
    }
    margin-bottom: 25px;
  }
  &__img {
    padding: 5px;
    background: $plomo-back;
    box-shadow: 0px 0px 10px 1px rgba(133, 133, 133, 1);
  }
}
.questions {
  background: $blanco !important;
  padding: 50px 20px !important;
  &-container {
    background: $blanco;
  }
  &__title {
    text-align: center;
    margin-top: 25px;
    h3 {
      color: $rosado;
    }
  }
  &__answers {
    padding: 0 20px;
    &--answer {
      h4 {
        color: #f04066;
        font-size: 22px;
      }
      p {
        color: $azul;
      }
    }
  }
}
.donwload {
  background: $azul;
  background: linear-gradient(148deg, $azul 11%, $rosado 100%);
  padding: 100px 35px 20px 35px;
  .donwload-container {
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      background-color: $blanco;
      padding: 1px 10px;
      border-radius: 5px;
    }
    color: #f04066;
    font-size: 48px;
  }
  &__text {
    text-align: center;
    margin-top: 50px;
    h2 {
      color: $blanco;
    }
    p {
      color: #f04066;
      margin-top: 15px;
    }
  }
  &__android {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.contact {
  background-color: $plomo-back;
  &-container {
    text-align: center;
  }
  &__lima {
    font-weight: 500;
  }
  &__link {
    a {
      color: #f04066;
    }
  }
  &__social {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    &--icon {
      background: $blanco;
      padding: 5px 10px 3px 10px;
      font-size: 36px;
      border-radius: 3px;
      box-shadow: 0px 0px 3px 0px rgba(145, 145, 145, 1);
      a {
        color: #f04066;
      }
    }
  }
}
.footer {
  background-color: $blanco;
  &__copy {
    p {
      color: $azul;
      a {
        color: $rosado;
      }
    }
  }
  &__links {
    a {
      color: $rosado;
    }
  }
}
@media only screen and (min-width: 768px) {
  .header {
    background: $azul;
    background: linear-gradient(148deg, $azul 11%, $rosado 100%);
    height: 100vh;
    &-nav {
      display: none;
    }
    &-nav-web {
      height: 80px;
      display: grid;
      grid-template-columns: 1fr 3fr;
      grid-template-rows: 80px;
      background: rgb(238, 0, 52);
      background: linear-gradient(
        180deg,
        rgba(238, 0, 52, 1) 0%,
        rgba(0, 21, 41, 0.8819640084598841) 100%
      );
      &__img {
        height: 100%;
        // margin-top: 15px;
        padding: 15px 0px 5px 50px;
        img {
          height: 100%;
        }
      }
      &__tabs {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 0 100px;
        a {
          // margin-left: 15px;
          text-align: center;
          font-size: 18px;
          color: rgba(255, 255, 255, 0.5) !important;
          min-width: 120px;
          cursor: pointer;
        }
      }
    }
    &-nav--web {
      background: red;
    }
    .header-menu {
      position: fixed;
      text-align: center;
      width: 100%;
      // background: $azul;
      // background: linear-gradient(148deg, $azul 11%, $rosado 100%);
      ul {
        list-style: none;
        li {
          margin: 20px 0;
          a {
            color: $blanco;
            text-decoration: none;
          }
          a:active {
            color: $rosado;
            text-decoration: none;
          }
          a:hover {
            color: $blanco;
          }
        }
      }
    }
    .header-content {
      margin: 0;
      &__title {
        margin-top: 150px;
        h1 {
          font-size: 120px;
        }
      }
      &__text {
        p {
          font-size: 24px;
        }
      }
      &__img {
        width: 100%;
        text-align: center;
        img {
          width: 30%;
        }
      }
    }
  }
  .section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section {
    &-back {
      padding: 100px 20px 0px 20px;
      background-color: $plomo-back;
      width: 100%;
      height: 100%;
      &__title {
        padding: 0 15px;
        text-align: center;
        h3 {
          margin: 0;
          font-size: 36px;
          font-weight: 600;
          color: $rosado;
        }
      }
      &__card {
        width: 31%;
        float: left;
        margin-left: 2%;
        margin-top: 75px;
        min-height: 110px;
      }
      &__more {
        margin-top: 50px;
        background-color: $blanco;
        padding: 35px 50px;
        .section-back__container {
          &--tab {
            width: 50%;
          }
        }
        &--title {
          h3 {
            margin-top: 10px;
            color: $rosado;
            font-size: 36px;
            text-align: center;
          }
        }
        &--tabs {
          // margin-top: 25px;
          li {
            background-color: $plomo-back;
            border: 1px solid rgba(207, 207, 207, 0.5);
            a {
              color: #f04066;
            }
          }
        }
        &--tab {
          // margin-top: 25px;
          padding: 0 15px;
          .lead {
            color: #f04066;
            margin-top: 10px;
          }
          h2 {
            color: $rosado;
          }
          p {
            margin-top: 25px;
            color: $azul;
          }
        }
      }
      &__info {
        background: $blanco;
        margin-top: 250px;
        padding: 10px;
        &--title {
          color: $rosado;
          h3 {
            font-size: 36px;
          }
        }
        &--text {
          margin-top: 5px;
          color: $azul;
          padding: 0 75px;
          text-align: center;
        }
        &--img {
          img {
            width: 100%;
          }
        }
      }
      &__tab-content {
        padding: 50px;
      }
    }
  }
  .steps {
    background-color: $plomo-back;
    &-container {
      padding: 50px 150px !important;
      margin: 0 !important;
    }
    &__step {
      display: grid;
      grid-template-columns: 1fr 3fr;
      min-height: 150px;
      &--number {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px 0 0;
        span {
          height: 60px;
          width: 60px;
          background-color: $blanco;
          box-shadow: 0px 0px 10px 1px rgb(182, 182, 182);
          border-radius: 50%;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $rosado;
          p {
            margin: 0;
            font-size: 24px;
          }
        }
      }
      &--text {
        display: flex;
        justify-content: center;
        align-items: flex-;
        flex-direction: column;
        padding: 0 10px;
        h5 {
          color: $rosado;
        }
        p {
          font-size: 14px;
        }
      }
    }
    &__img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      img {
        width: 50%;
      }
    }
  }
  .activeStep {
    background-color: $rosado !important;
    color: $blanco !important;
  }
  .screen {
    padding: 75px 25px 25px 25px !important;
    &__title {
      text-align: center;
      h3 {
        color: $rosado;
        font-size: 30px;
      }
      margin-bottom: 50px;
    }
    &__img {
      display: none;
    }
    &__img-web {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 20px;
      &--img {
        box-shadow: 0px 0px 10px 1px rgb(165, 165, 165);

        img {
          width: 100%;
        }
      }
    }
  }
  .questions {
    background: $blanco !important;
    padding: 50px 20px !important;
    &-container {
      background: $blanco;
    }
    &__title {
      text-align: center;
      margin-top: 25px;
      h3 {
        color: $rosado;
      }
    }
    &__answers {
      padding: 0 20px;
      &--answer {
        h4 {
          color: #f04066;
          font-size: 22px;
        }
        p {
          color: $azul;
        }
      }
    }
  }
  .donwload {
    background: $azul;
    background: linear-gradient(148deg, $azul 11%, $rosado 100%);
    padding: 100px 35px 20px 35px;
    .donwload-container {
    }
    &__icon {
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        background-color: $blanco;
        padding: 1px 10px;
        border-radius: 5px;
      }
      color: #f04066;
      font-size: 48px;
    }
    &__text {
      text-align: center;
      margin-top: 50px;
      h2 {
        color: $blanco;
      }
      p {
        color: #f04066;
        margin-top: 15px;
      }
    }
    &__android {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .contact {
    background-color: $plomo-back;
    &-container {
      text-align: center;
    }
    &__lima {
      font-weight: 500;
    }
    &__link {
      a {
        color: #f04066;
      }
    }
    &__social {
      display: flex;
      justify-content: space-around;
      margin-top: 50px;
      &--icon {
        background: $blanco;
        padding: 5px 10px 3px 10px;
        font-size: 36px;
        border-radius: 3px;
        box-shadow: 0px 0px 3px 0px rgba(145, 145, 145, 1);
        a {
          color: #f04066;
        }
      }
    }
  }
  .footer {
    background-color: $blanco;
    &__copy {
      p {
        color: $azul;
        a {
          color: $rosado;
        }
      }
    }
    &__links {
      a {
        color: $rosado;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .header {
    &-nav-web {
      display: none;
    }
  }
  .screen {
    &__img-web {
      display: none;
    }
  }
}
</style>
