<template>
	<div class="login">
		<div class="login-container">
			<div class="login-images">
				<div class="login-images__back">
					<img src="../assets/img/login.png" alt="" />
				</div>
				<div class="login-images__logo">
					<img src="../assets/img/funny.png" alt="" />
				</div>
			</div>
			<div class="login-form">
				<div
					v-if="error.found"
					class="alert-div alert alert-danger"
					role="alert"
				>
					<strong>Datos inválidos!</strong>. Correo y/o contraseña incorrectos.
				</div>
				<div class="login-form__content">
					<h3>Iniciar Sesión</h3>
				</div>
				<div class="login-form__content">
					<input
						v-model.trim="$v.user.correo.$model"
						type="text"
						placeholder="Correo Electrónico"
						class="login-form__content--input"
						:class="{
							'error-input': error.enviado && $v.user.correo.$error,
						}"
					/>
					<div
						v-if="error.enviado && $v.user.correo.$error"
						class="error-validation"
					>
						<span v-if="!$v.user.correo.required">Ingrese un correo</span>
						<span v-if="!$v.user.correo.email">Correo inválido</span>
					</div>
				</div>
				<div class="login-form__content">
					<input
						v-model.trim="$v.user.pass.$model"
						type="password"
						placeholder="Contraseña"
						class="login-form__content--input"
						:class="{
							'error-input': error.enviado && $v.user.pass.$error,
						}"
					/>
					<div
						class="error-validation"
						v-if="error.enviado && $v.user.pass.$error"
					>
						<span v-if="!$v.user.pass.required">Ingrese una contraseña</span>
					</div>
				</div>
				<div class="login-form__content">
					<button @click="login">INGRESAR</button>
				</div>
				<div class="login-form__content">
					<a @click="toRegister">Crear una cuenta</a>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import { required, email } from 'vuelidate/lib/validators';
	export default {
		data() {
			return {
				user: {
					correo: null,
					pass: null,
				},
				error: {
					enviado: false,
					found: false,
				},
			};
		},
		validations: {
			user: {
				correo: {
					required,
					email,
				},
				pass: {
					required,
				},
			},
		},
		methods: {
			login() {
				this.$v.user.$touch();
				if (this.$v.$invalid) {
					this.error.enviado = true;

					return;
				}
				this.$store.dispatch('login', this.user).then((res) => {
					console.log('res', res);

					if (res.succes === true) {
						sessionStorage.setItem('userId', res.data.idAdministrador);
						this.$router.push({
							name: 'panel',
							params: {
								id: Number(sessionStorage.getItem('userId')),
							},
						});
					} else if (res.succes === false) {
						if (res.message == 'Usuario no registrado') {
							this.error.found = true;
						}
					}
				});
			},
			toRegister() {
				this.$router.push({ name: 'registeruser' });
			},
			toHome() {
				this.$router.push({ name: 'home' });
			},
		},
	};
</script>
<style lang="scss">
	@import '../assets/scss/variables.scss';

	.login {
		height: 100vh;
		width: 100%;
		background: $blanco;

		&-container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			height: 100%;
		}
		&-images {
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			height: 100%;
			width: 100%;
			&__back {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				z-index: 1;
				img {
					height: 100%;
					width: 100%;
				}
			}
			&__logo {
				z-index: 5;
				background: rgba(22, 6, 93, 0.7);
				height: 100%;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				img {
					width: 200px;
				}
			}
		}
		&-form {
			padding: 50px 125px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&__content {
				width: 100%;
				text-align: center;
				position: relative;
				h3 {
					color: $azul;
					font-weight: 600;
				}
				&--input {
					width: 100%;
					margin-top: 25px;
					padding: 5px 10px;
					border: 1px solid #9c9c9c;
					background: transparent;
					&:focus {
						border: 1px solid #533fac;
						outline: 0px;
					}
				}
				button {
					margin: 35px 0 25px 0;
					width: 100%;
					padding: 5px 0;
					color: white;
					border: 1px solid $rosado;
					background: $rosado;
				}
				a {
					color: $rosado;
					font-weight: 600;
				}
			}
		}
	}
	.error-validation {
		color: #c72c41;
		position: absolute;
		font-size: 12px;
	}
	.error-input {
		border: 1px solid #c72c41;
	}
	.alert-div {
		position: absolute;
		top: 100px;
	}
	@media only screen and (max-width: 767px) {
		.login {
			&-container {
				display: flex;
				flex-direction: column;
				padding: 25px;
				position: relative;
			}
			&-images {
				position: absolute;
				top: 0;
				left: 0;

				&__logo {
					z-index: 10;

					align-items: flex-start;
				}
			}
			&-form {
				padding: 0 25px;

				z-index: 15;
				height: 100vh;
				width: 100%;
				background: transparent;
				&__content {
					h3 {
						color: $blanco;
						font-weight: 900;
					}
					&--input {
						background: rgba(255, 255, 255, 0.5);
						color: $blanco;

						&::placeholder {
							color: rgb(189, 189, 189);
						}
					}

					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
</style>
