<template>
  <div class="cont">
    <div :class="[show ? 'sidebar' : 'hiden']">
      <div :class="[show ? 'sidebar-title' : 'sidebar-title-expan']">
        <div class="sidebar-icons">
          <i class="bx bxs-edit-alt"></i>
        </div>
        <div :class="[show ? 'sidebar-text' : 'sidebar-text-expan']">tres</div>
      </div>
    </div>
    <div :class="[show ? 'main' : 'expan']">
      <div :class="[show ? 'header' : 'header']">
        <button @click="show = !show">x</button>
        asdasdasadnlk
      </div>
      <div class="content"></div>
      <div></div>
    </div>
    <div></div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      show: true
    };
  }
};
</script>
<style lang="scss">
// .lala {
//   padding: 30px;
//   width: 30%;
// }

// .file-content {
//   width: 150px;
//   text-align: center;
//   background: crimson;
//   height: 30px;
//   position: relative;
//   padding-top: 5px;
//   border-radius: 5px;

//   &__text {
//     font-size: 12px;
//     color: white;
//     font-weight: 500;
//   }

//   &__ipt {
//     position: absolute;
//     top: 0;
//     left: 0;
//     opacity: 0;
//     width: 100%;
//     height: 100%;
//   }
// }

// .file {
//   color: rgb(183, 176, 176);
//   font-size: 12px;
// }

// .algo {
//   height: 200px;
// }

// .sidebar {
//   width: 15%;
//   height: 100vh;
//   background: khaki;
//   display: flex;
//   transition: all 0.5s;
//   position: fixed;
// }
// .hiden {
//   width: 5%;
//   height: 100vh;
//   background: khaki;
//   display: flex;
//   transition: all 0.5s;
// }

// .header {
//   width: 100%;
//   height: 100px;
//   background: cornsilk;
//   position: relative;
//   transition: all 0.5s;
//   button {
//     position: fixed;
//     top: 10px;
//     margin-left: 20px;
//   }
// }

// .sidebar-title {
//   display: grid;
//   width: 100%;
//   grid-template-columns: 3fr 8fr;
//   transition: all 0.5s;
// }

// .sidebar-title-expan {
//   display: flex;
//   width: 100%;
//   transition: all 0.5s;
// }

// .sidebar-icons {
//   width: 100%;
//   height: 100%;
//   background-color: chartreuse;
//   transition: all 0.5s;
// }

// .sidebar-icons-expan {
//   width: 100%;
//   height: 100%;
//   background-color: chartreuse;
//   transition: all 0.5s;
// }

// .sidebar-text {
//   width: 100%;
//   transition: all 0.5s;
// }

// .sidebar-text-expan {
//   background-color: crimson;
//   opacity: 0;
//   width: 0;
//   display: none;
//   transition: all 0.5s;
// }

// .content {
//   background: darkseagreen;
//   width: 100%;
//   height: 300px;
// }

// .cont {
//   display: flex;
//   flex-direction: row;
//   background: red;
//   height: 100px;
// }

// .main {
//   display: flex;
//   flex-direction: column;
//   transition: all 0.5s;
//   width: 85%;
//   position: absolute;
//   left: 15%;
//   transition: all 0.5s;
// }

// .expan {
//   display: flex;

//   width: 95%;
//   flex-direction: column;
//   position: absolute;
//   top: 0;
//   left: 5%;
//   transition: all 0.5s;
// }

// .tab {
//   background-color: darkmagenta;
// }

// * {
//   padding: 0;
//   margin: 0;
// }
</style>
