<template>
	<div id="panel" class="panel">
		<div class="sidebar">
			<div class="sidebar__header">
				<img src="../assets/img/funny.png" alt="" />
				<button @click="show = !show"><i class="bx bx-menu"></i></button>
			</div>
			<div class="sidebar__menu--web">
				<div class="menu__tab" v-for="(tab, index) in tabs" :key="index">
					<button
						@click="selectTab(tab)"
						:class="selected == tab.comp ? 'menu__tab--btn' : 'menu__tab--dis'"
					>
						<i :class="tab.icon"></i>
						{{ tab.text }}
					</button>
				</div>
			</div>
			<slide-up-down :active="show" :duration="500">
				<div class="sidebar__menu">
					<div class="menu__tab" v-for="(tab, index) in tabs" :key="index">
						<button
							@click="selectTab(tab)"
							:class="
								selected == tab.comp ? 'menu__tab--btn' : 'menu__tab--dis'
							"
						>
							<i :class="tab.icon"></i>
							{{ tab.text }}
						</button>
					</div>
				</div>
			</slide-up-down>
		</div>
		<div id="dashboard" class="dashboard bg-light">
			<div class="dashboard__header">
				<h2>{{ this.$store.state.currentClub.nombreClub }}</h2>
			</div>
			<div class="dashboard__main">
				<component :is="this.selected"></component>
			</div>
		</div>
	</div>
</template>

<script>
	import Vue from 'vue';

	import Preloader from '@/components/Preloader';
	import User from '@/components/User';
	import Events from '@/components/Events';
	import Promotions from '@/components/Promotions';
	import List from '@/components/List';

	import { service } from '../api';
	import { error } from 'util';
	import axios from 'axios';
	import SlideUpDown from 'vue-slide-up-down';
	Vue.component('slide-up-down', SlideUpDown);

	export default {
		name: 'Panel',
		data() {
			return {
				show: false,
				center: { lat: 45.508, lng: -73.587 },
				markers: [],
				places: [],
				currentPlace: null,
				center: null,
				pos: { lat: -12.221991, lng: -76.934463 },
				tabs: [
					{
						text: 'Información',
						comp: 'User',
						selected: true,
						icon: 'bx bxs-user'
					},
					{
						text: 'Eventos',
						comp: 'Events',
						selected: false,
						icon: 'bx bxs-calendar'
					},
					{
						text: 'Promociones',
						comp: 'Promotions',
						selected: false,
						icon: 'bx bxs-beer'
					},
					{
						text: 'Listas',
						comp: 'List',
						selected: false,
						icon: 'bx bxs-food-menu'
					}
				],
				selected: 'User',
				flag: true,
				user: {}
			};
		},
		components: {
			User,
			Events,
			Promotions,
			List
		},
		methods: {
			selectTab(tab) {
				console.log('tab', tab.comp);
				this.selected = tab.comp;
				this.show = false;
			},
			posi() {
				console.log(this.pos);
			},
			setPlace(place) {
				this.currentPlace = place;
				console.log(place);
			},
			addMarker() {
				if (this.currentPlace) {
					const marker = {
						lat: this.currentPlace.geometry.location.lat(),
						lng: this.currentPlace.geometry.location.lng()
					};
					this.markers.push({ position: marker });
					this.places.push(this.currentPlace);
					this.center = marker;
					this.currentPlace = null;
				}
			},
			geolocate: function() {
				navigator.geolocation.getCurrentPosition(position => {
					// this.center = {
					// 	lat: position.coords.latitude,
					// 	lng: position.coords.longitude,
					// };
					console.log(position);
				});
			}
		},
		created() {},
		mounted() {
			this.geolocate();
		}
	};
</script>
<style lang="scss">
	@import '../assets/scss/variables';
	@import '../assets/scss/common.scss';
	.sidebar {
		position: fixed;
		width: 100%;
		z-index: 7;
		background: $azulMenu;

		@include from(tablet-h) {
			width: 15%;
			position: fixed;
			top: 0;
			left: 0;
			height: 100vh;
			z-index: 5;
		}
		&__header {
			height: 80px;
			padding: 10px 20px;
			width: 100%;
			background: $azulMenu;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@include from(tablet-h) {
				justify-content: center;
			}
			img {
				height: 100%;
			}
			button {
				height: 50px;
				width: 50px;
				font-size: 48px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: $azulMenu;
				color: white;
				// border: 1px solid rgba(255, 255, 255, 0.3);
				border: 1px solid rgba(238, 0, 52, 0.5);
				&:focus {
					outline: 0px;
				}
				@include from(tablet-h) {
					display: none;
				}
			}
		}
		&__menu {
			top: 80px;
			left: 0;
			width: 100%;
			padding: 20px 0 0 0 !important;
			background: $azulMenu;

			.menu {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;

				&__tab {
					height: 50px;
					width: 100%;
					display: flex;
					align-items: center;
					&--btn {
						display: flex;
						align-items: center;
						text-align: left;
						width: 100%;
						height: 100%;
						border: none;
						background: $hoverButton;
						color: white;
						outline: 0px;
						padding-left: 25px;
						border-top: 1px solid rgba(238, 0, 52, 0.5);
						font-size: 18px;
						&:focus {
							outline: 0px;
						}
						i {
							margin-right: 10px;
						}
					}
					&--dis {
						@extend .menu__tab--btn;
						background: $azulMenu;
					}
				}
			}
		}
		&__menu--web {
			top: 80px;
			left: 0;
			width: 100%;
			padding: 20px 0 0 0 !important;
			background: $azulMenu;
			@include to(tablet-h) {
				display: none;
			}
			.menu {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				align-items: flex-start;

				&__tab {
					height: 50px;
					width: 100%;
					display: flex;
					align-items: center;
					&--btn {
						display: flex;
						align-items: center;
						text-align: left;
						width: 100%;
						height: 100%;
						border: none;
						background: $hoverButton;
						color: white;
						outline: 0px;
						padding-left: 25px;
						font-size: 18px;
						&:focus {
							outline: 0px;
						}
						i {
							margin-right: 10px;
						}
					}
					&--dis {
						@extend .menu__tab--btn;
						background: $azulMenu;
					}
				}
			}
		}
	}
	.dashboard {
		position: absolute;
		top: 80px;
		z-index: 1;
		width: 100%;
		padding: 20px;
		z-index: 6;
		@include from(tablet-h) {
			position: absolute;
			left: 15%;
			width: 85%;
			top: 0;
			min-height: 100vh;
		}
		&__header {
			background: transparent;
			width: 100%;
			text-align: center;
			margin: 0 0 20px 0;
			padding-bottom: 15px;
			border-bottom: 1px solid rgba(0, 0, 0, 0.3);
			h2 {
				text-transform: uppercase;
				font: normal 600 28px $font2;
			}
		}
		&__main {
			height: 100%;
			box-sizing: border-box;
		}
	}
	// .panel {
	// 	position: absolute;
	// 	left: 15%;
	// 	min-height: 100vh;
	// 	width: 85%;
	// 	background: $backGray;
	// 	@include to(movil) {
	// 		width: 100%;
	// 		position: relative;
	// 		left: 0;
	// 		min-height: auto;
	// 	}
	// }
</style>
