<template>
	<div>
		<!-- <div class="sidebar">
			<div class="sidebar-img">
				<img src="../assets/img/funny.png" alt="" />
			</div>

			<div class="sidebar-menu">
				<div
					class="sidebar-menu__tab"
					v-for="(tab, index) in tabs"
					:key="index"
				>
					<button
						@click="selectTab(tab)"
						:class="
							selected == tab.comp
								? 'sidebar-menu__tab--btn'
								: 'sidebar-menu__tab--dis'
						"
					>
						<i :class="tab.icon"></i>
						{{ tab.text }}
					</button>
				</div>
			</div>
		</div>
		<div class="panel">
			<div class="header">{{ this.$store.state.currentClub.nombreClub }}</div>
			<div class="main">
				<component :is="this.selected"></component>
			</div>
    </div>-->
	</div>
</template>

<script>
	import Preloader from '@/components/Preloader';
	import User from '@/components/User';
	import Events from '@/components/Events';
	import Promotions from '@/components/Promotions';
	import { service } from '../api';
	import { error } from 'util';
	import axios from 'axios';

	export default {
		name: 'Panel',
		data() {
			return {
				//   center: { lat: 45.508, lng: -73.587 },
				//   markers: [],
				//   places: [],
				//   currentPlace: null,
				//   center: null,
				//   pos: { lat: -12.221991, lng: -76.934463 },
				//   tabs: [
				//     {
				//       text: "Mi información",
				//       comp: "User",
				//       selected: true,
				//       icon: "bx bxs-user"
				//     },
				//     {
				//       text: "Mis eventos",
				//       comp: "Events",
				//       selected: false,
				//       icon: "bx bxs-calendar"
				//     },
				//     {
				//       text: "Mis promociones",
				//       comp: "Promotions",
				//       selected: false,
				//       icon: "bx bxs-beer"
				//     }
				//   ],
				//   selected: "User",
				//   flag: true,
				//   user: {}
			};
		},
		components: {
			User,
			Events,
			Promotions,
		},
		methods: {
			//     selectTab(tab) {
			//       console.log("tab", tab.comp);
			//       this.selected = tab.comp;
			//     },
			//     posi() {
			//       console.log(this.pos);
			//     },
			//     setPlace(place) {
			//       this.currentPlace = place;
			//       console.log(place);
			//     },
			//     addMarker() {
			//       if (this.currentPlace) {
			//         const marker = {
			//           lat: this.currentPlace.geometry.location.lat(),
			//           lng: this.currentPlace.geometry.location.lng()
			//         };
			//         this.markers.push({ position: marker });
			//         this.places.push(this.currentPlace);
			//         this.center = marker;
			//         this.currentPlace = null;
			//       }
			//     },
			//     geolocate: function() {
			//       navigator.geolocation.getCurrentPosition(position => {
			//         // this.center = {
			//         // 	lat: position.coords.latitude,
			//         // 	lng: position.coords.longitude,
			//         // };
			//         console.log(position);
			//       });
			//     }
			//   },
			//   created() {
			//     // console.log('asdasd', this.$store.state.currentClub);
			//   },
			//   mounted() {
			//     this.geolocate();
		},
	};
</script>
<style lang="scss">
	// @import '../assets/scss/variables';
	// .sidebar {
	// 	position: fixed;
	// 	width: 15%;
	// 	height: 100vh;
	// 	display: flex;
	// 	background: $azulMenu;
	// 	flex-direction: column;
	// 	padding-top: 20px;
	// 	&-img {
	// 		height: 80px;
	// 		display: flex;
	// 		justify-content: center;
	// 		margin-bottom: 30px;
	// 		img {
	// 			height: 100%;
	// 			width: 80%;
	// 		}
	// 	}
	// 	&-menu {
	// 		display: flex;
	// 		flex-direction: column;
	// 		&__tab {
	// 			height: 50px;
	// 			width: 100%;
	// 			display: flex;
	// 			justify-content: center;
	// 			align-items: center;
	// 			&--btn {
	// 				text-align: left;
	// 				width: 100%;
	// 				height: 100%;
	// 				border: none;
	// 				background: $hoverButton;
	// 				color: white;
	// 				outline: 0px;
	// 				padding-left: 10px;
	// 				&:focus {
	// 					outline: 0px;
	// 				}
	// 			}
	// 			&--dis {
	// 				@extend .sidebar-menu__tab--btn;
	// 				background: $azulMenu;
	// 			}
	// 		}
	// 	}
	// }
	// .panel {
	// 	position: absolute;
	// 	left: 15%;
	// 	min-height: 100vh;
	// 	width: 85%;
	// 	background: $backGray;
	// }
	// .header {
	// 	background: white;
	// 	width: 100%;
	// 	height: 80px;
	// }
	// .main {
	// 	padding: 00px 50px;
	// 	box-sizing: border-box;
	// }
</style>
