<template>
	<div class="register-user">
		<span class="icon"></span>

		<div class="register-user-container">
			<div class="register-user-form">
				<div class="register-user-form__content">
					<h3>Registrar Administrador</h3>
				</div>
				<div class="register-user-form__content">
					<p>
						Registra tus datos como administrador para iniciar en
						<strong>Funny</strong>
					</p>
				</div>
				<div class="register-user-form__content">
					<input v-model="admin.nombre" type="text" placeholder="Nombres" />
				</div>
				<div class="register-user-form__content">
					<input v-model="admin.apellido" type="text" placeholder="Apellidos" />
				</div>
				<div class="register-user-form__content">
					<input
						v-model="admin.correo"
						type="email"
						placeholder="Correo electrónico"
					/>
				</div>
				<div class="register-user-form__content">
					<input
						v-model="admin.pass"
						type="password"
						placeholder="Contraseña"
					/>
				</div>
				<div class="register-user-form__content">
					<button @click="registerAdmin">Continuar</button>
				</div>
				<div class="register-user-form__content">
					<span>Si ya tienes una cuenta ingresa aquí, </span>

					<a @click="toLogin">Iniciar sesión</a>
				</div>
			</div>
			<div class="register-user-image">
				<div class="register-user-image__back"></div>
				<img src="../assets/img/register.jpg" alt="" />
			</div>
		</div>
	</div>
</template>
<script>
	import { service } from '../api';
	import { error } from 'util';

	export default {
		name: 'registeruser',
		data() {
			return {
				admin: {
					nombre: null,
					apellido: null,
					correo: null,
					pass: null,
				},
				errors: [],
			};
		},
		methods: {
			registerAdmin() {
				let newAdmin = {
					nombre: this.admin.nombre + ' ' + this.admin.apellido,
					correo: this.admin.correo,
					pass: this.admin.pass,
				};

				this.$store.dispatch('register', newAdmin).then((res) => {
					console.log('este es el res', res);
					if (res.succes === false) {
						return null;
					}
					this.$router.push({ name: 'registerclub' });
				});
			},
			toLogin() {
				this.$router.push({ name: 'login' });
			},
			toHome() {
				this.$router.push({ name: 'home' });
			},
		},
	};
</script>
<style lang="scss">
	@import '../assets/scss/variables.scss';

	.register-user {
		height: 100vh;
		width: 100%;
		&-container {
			height: 100%;
			width: 100%;
			display: grid;
			grid-template-columns: 7fr 3fr;
		}
		&-image {
			width: 100%;
			height: 100%;
			position: relative;
			&__back {
				background-color: rgba(7, 6, 93, 0.3);
				height: 100%;
				width: 100%;
				z-index: 5;
				position: absolute;
				top: 0;
				left: 0;
			}
			img {
				height: 100%;
				width: 100%;
				z-index: 1;
			}
		}
		&-form {
			padding: 75px 225px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&__content {
				width: 100%;
				text-align: center;
				h3 {
					color: $azul;
					font-weight: 600;
					margin-bottom: 25px;
				}
				input {
					padding: 5px 10px;
					width: 100%;
					margin-top: 15px;
					border: 1px solid #9c9c9c;
					&:focus {
						border: 1px solid $rosado;
						outline: 0px;
					}
				}
				button {
					padding: 5px 10px;
					width: 100%;
					margin: 15px 0;
					color: white;
					border: 1px solid $rosado;
					background: $rosado;
					font-weight: 600;
				}
				span {
					color: $azul;
				}
				a {
					color: $rosado;
					font-weight: 600;
				}
				strong {
					color: $rosado;
				}
			}
		}
	}
	.icon {
		display: none;
	}
	@media only screen and (max-width: 767px) {
		.register-user {
			&-container {
				display: flex;
				flex-direction: column;
				// background: rgba(22, 6, 93, 1);
			}
			&-image {
				display: none;
			}
			&-form {
				padding: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				height: 100%;
				&__content {
					a {
						text-decoration: underline;
					}
				}
			}
		}
		.icon {
			background: rgb(27, 27, 102);
			height: 75px;
			width: 50px;
			position: absolute;
			top: -0;
			right: -0;
			border-radius: 0% 0% 0% 900%;
			display: flex;
		}
	}
</style>
