<template>
	<div class="register-club">
		<div class="register-club-container">
			<div class="register-club-form">
				<div
					:class="{ hideform: show.form }"
					class="register-club-form__content"
				>
					<h3>Registra la información de tu Club</h3>
					<p>
						Ingresa la información en los campos solicitados para registrar tu
						Club
					</p>
					<div>
						<input
							v-model="club.nombreClub"
							type="text"
							placeholder="Nombre del Club"
						/>
					</div>
					<div>
						<input
							v-model="club.descripcion"
							type="text"
							placeholder="Descripción"
						/>
					</div>
					<div>
						<input
							v-model="club.direccion"
							type="text"
							placeholder="Dirección"
						/>
					</div>
					<div>
						<select v-model="club.distrito" name="" id="">
							<option value="null" selected disabled
								>Seleccione un distrito</option
							>
							<option
								v-for="localidad in localidades"
								:value="localidad"
								:key="localidad.idDistrito"
							>
								{{ localidad.nombreDistrito }}</option
							>
						</select>
					</div>
					<div>
						<button @click="nextStep(1)">
							Siguiente <i class="bx bx-right-arrow-alt"></i>
						</button>
					</div>
				</div>
				<div
					:class="{ showimage: show.image }"
					class="register-club-form__image"
				>
					<h3>
						Carga la imagen para tu Club
					</h3>
					<p>
						Esta imagen sera visible para todos los usuarios del app
					</p>

					<div class="register-club-form__image--img card">
						<img v-if="showimg" src="../assets/img/image_default.png" alt="" />
						<img v-if="!showimg" :src="picture" alt="" />
					</div>
					<button @click="showModal('change-foto')">
						Cargar una imagen
					</button>

					<button v-if="show.btnmap" @click="nextStep(2)">
						Siguiente <i class="bx bx-right-arrow-alt"></i>
					</button>
				</div>
				<div :class="{ showimage: show.map }" class="register-club-form__map">
					<h3>
						Selecciona tu ubicación en el mapa
					</h3>
					<p>
						Este es el ultimo paso para registrar tu Club
					</p>
					<div class="register-club-form__map--gmap">
						<GmapMap
							:center="center"
							:zoom="10"
							map-type-id="terrain"
							style="width: 100%; height: 100%"
							@click="getpos"
						>
							<GmapMarker
								:position="coordinates"
								:clickable="true"
								:draggable="true"
							/>
						</GmapMap>
					</div>
					<button @click="createClub">Registrar Club</button>
				</div>
			</div>
			<div class="register-club-image">
				<div class="register-club-image__back"></div>
				<img src="../assets/img/register.jpg" alt="" />
			</div>
		</div>
		<transition>
			<b-modal hide-header hide-footer ref="change-foto">
				<div class="modal-header">
					<h5>Agregar una foto del Club</h5>
				</div>
				<div class="modal-container">
					<div class="modal-container__body">
						<div class="modal-container__file">
							<div class="modal-container__file--ipt">
								<input @change="previewImage($event)" type="file" />
								<span>Seleccion una imagen</span>
							</div>
							<div class="modal-container__file--text">
								<p>{{ selected.text }}</p>
							</div>
						</div>
						<div v-show="this.selected.showBtn" class="modal-container__img">
							<img
								style="margin-top:10px; max-height:300px;"
								width="250px"
								height="250px"
								alt=""
								id="image-preview"
							/>
							<b-progress
								:value="uploadValue"
								max="100"
								show-progress
								animated
								variant="success"
								class="mt-2"
							></b-progress>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button @click="cancel('change-foto')" class="btn btn-danger">
						Cancelar
					</button>
					<button
						@click="onUploadPhotoClub($event)"
						v-show="this.selected.showBtn"
						class="btn btn-success"
					>
						Subir foto
					</button>
				</div>
			</b-modal>
		</transition>
	</div>
</template>
<script>
	import { service } from '../api';
	import { error } from 'util';
	import { distritos } from '../helper/distritos.json';
	import firebase from 'firebase';
	// import func from '../../vue-temp/vue-editor-bridge';

	export default {
		data() {
			return {
				admin: {},
				show: {
					form: false,
					image: false,
					map: false,
					btnmap: false,
				},
				coordinates: { lat: null, lng: null },
				center: { lat: -12.04318, lng: -77.02824 },
				selected: {
					text: 'Aún no ha seleccionado un archivo',
					file: null,
					picture: null,
					uploadValue: 0,
					showBtn: false,
				},
				club: {
					nombreClub: null,
					descripcion: null,
					direccion: null,
					idLocalidad: null,
					distrito: null,
					fotoClub: null,
				},
				localidades: distritos,
				uploadValue: 0,
				picture: null,
				showimg: true,
				showUploadBtn: false,
				iconClass: '',
				errors: [],
			};
		},
		methods: {
			nextStep(a) {
				if (a == 1) {
					if (
						this.club.nombreClub == null ||
						this.club.descripcion == null ||
						this.club.direccion == null ||
						this.club.distrito == null
					) {
						return null;
					}
					this.show = {
						form: true,
						image: true,
						map: false,
					};
				}
				if (a == 2) {
					this.show = {
						form: true,
						image: false,
						map: true,
					};
				}
			},
			getpos(position) {
				this.coordinates = {
					lat: position.latLng.lat(),
					lng: position.latLng.lng(),
				};
			},
			cancel(a) {
				this.hideModal(a);
				this.selected.file = null;
				this.selected.text = 'Aún no ha seleccionado un archivo';
				this.selected.showBtn = false;
			},
			previewImage(e) {
				this.selected.showBtn = true;
				console.log(e.target.files[0].name);
				this.selected.file = e.target.files[0];
				this.selected.text = e.target.files[0].name;
				var reader = new FileReader();
				var image = document.getElementById('image-preview');
				reader.onload = () => {
					if (reader.readyState == 2) {
						image.src = reader.result;
					}
				};

				reader.readAsDataURL(e.target.files[0]);
			},

			createClub() {
				let newdireccion = `${this.club.direccion} - ${this.club.distrito.nombreDistrito}`;

				let newClub = {
					idAdministrador: Number(sessionStorage.getItem('userId')),
					nombreClub: this.club.nombreClub,
					direccion: newdireccion,
					idLocalidad: this.club.distrito.idDistrito,
					fotoClub: this.club.fotoClub,
					descripcion: this.club.descripcion,
					latitude: this.coordinates.lat,
					longitude: this.coordinates.lng,
					categoria: '',
					ruc: 0,
					aforo: 0,
					horario: '',
				};
				console.log(newClub);
				if (this.coordinates.lat == null || this.coordinates.lng == null) {
					return null;
				}
				this.$store
					.dispatch('createClub', newClub)
					.then((res) => console.log(res));
				setTimeout(() => {
					this.$router.push({
						name: 'panel',
						params: {
							id: this.admin.idAdministrador,
						},
					});
				}, 2000);
			},
			onUploadPhotoClub(event) {
				const storageRef = firebase
					.storage()
					.ref(`/images/fotosClub/${this.selected.file.name}`);
				const task = storageRef.put(this.selected.file);
				task.on(
					'state_changed',
					(snapshot) => {
						let percentage =
							(snapshot.bytesTransferred / snapshot.totalBytes) * 100;
						this.uploadValue = percentage;
					},
					(error) => {
						console.log(error.message);
					},
					() => {
						this.uploadValue = 100;
						task.snapshot.ref.getDownloadURL().then((url) => {
							this.picture = url;
							this.club.fotoClub = url;
							this.showimg = false;
							this.hideModal('change-foto');
							this.selected.file = null;
							this.selected.text = 'Aún no ha seleccionado un archivo';
							this.selected.showBtn = false;
							this.uploadValue = 0;
							this.show.btnmap = true;
						});
					}
				);
			},
			toLogin() {
				this.$router.push({ name: 'login' });
			},
			toHome() {
				this.$router.push({ name: 'home' });
			},
			showModal(a) {
				this.$refs[a].show();
			},
			hideModal(a) {
				this.$refs[a].hide();
			},
		},
		computed: {},
		created() {},
	};
</script>
<style lang="scss">
	@import '../assets/scss/variables.scss';

	.modal-container {
		width: 100%;

		&__body {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 15px 0;
		}
		&__file {
			display: flex;
			width: 100%;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			&--ipt {
				background: #f04066;
				height: 40px;
				width: auto;
				position: relative;
				padding: 10px;
				box-sizing: border-box;
				border-radius: 3px;
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				input {
					opacity: 0;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					cursor: pointer;
				}
				span {
					display: flex;
					cursor: pointer;
				}
			}
			&--text {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 40px;
				color: #bbbbbb;
				p {
					margin: 0;
				}
			}
		}
	}
	.modal-footer {
		padding: 5px 5px 0 5px;
	}
	.register-club {
		height: 100vh;
		width: 100%;
		&-container {
			height: 100%;
			width: 100%;
			display: grid;
			grid-template-columns: 7fr 3fr;
		}
		&-image {
			width: 100%;
			height: 100%;
			position: relative;
			&__back {
				background-color: rgba(7, 6, 93, 0.3);
				height: 100%;
				width: 100%;
				z-index: 5;
				position: absolute;
				top: 0;
				left: 0;
			}
			img {
				height: 100%;
				width: 100%;
				z-index: 1;
			}
		}
		&-form {
			padding: 75px 50px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			height: 100%;
			width: 100%;
			position: relative;
			.hideform {
				display: none;
			}
			.showimage {
				display: flex;
			}
			&__content {
				position: absolute;
				text-align: center;
				h3 {
					color: $azul;
				}
				p {
					color: $azul;
				}
				width: 100%;
				transition: all 2s;
				left: 0;
				transition: background-color 2s all;
				padding: 0 150px;

				input {
					padding: 5px 10px;
					width: 100%;
					margin-top: 15px;
					border: 1px solid #9c9c9c;
					&:focus {
						border: 1px solid $rosado;
						outline: 0px;
					}
				}
				select {
					padding: 5px 10px;
					width: 100%;
					margin-top: 15px;
					border: 1px solid #9c9c9c;
					background: none;
					&:focus {
						border: 1px solid $rosado;
						outline: 0px;
					}
				}
				button {
					padding: 5px 10px;
					width: 100%;
					margin: 15px 0;
					color: white;
					border: 1px solid $rosado;
					background: $rosado;
					font-weight: 600;
				}
				span {
					color: $azul;
				}
				a {
					color: $rosado;
					font-weight: 600;
				}
				strong {
					color: $rosado;
				}
			}
			&__image {
				text-align: center;
				display: none;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: absolute;
				h3 {
					color: $azul;
					font-weight: 600;
				}
				p {
					color: $azul;
				}
				&--img {
					height: 300px;
					width: 300px;
					img {
						width: 100%;
						height: 100%;
					}
				}
				button {
					padding: 5px 10px;
					width: 100%;
					margin: 15px 0;
					color: white;
					border: 1px solid $rosado;
					background: $rosado;
					font-weight: 600;
				}
			}
			&__map {
				text-align: center;
				display: none;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: absolute;
				h3 {
					color: $azul;
					font-weight: 600;
				}
				p {
					color: $azul;
				}
				&--gmap {
					height: 400px;
					width: 400px;
					border: 1px solid rgba(199, 199, 199, 0.933);
				}
				button {
					padding: 5px 10px;
					width: 100%;
					margin: 15px 0;
					color: white;
					border: 1px solid $rosado;
					background: $rosado;
					font-weight: 600;
				}
			}
		}
	}
</style>
