.layout {
	min-height: 100vh;
	background-color: #fafaf9;

	&__main {
		height: 100%;
		padding-bottom: 164px;

		.page1 {
			min-height: 100%;

			// &__header {
			//   .section1 {
			//     width: 100%;
			//     position: relative;
			//     display: block;
			//     height: 72px;
			//     max-height: 72px;
			//     background-color: white;

			//     .logo {
			//       height: 100%;
			//       padding: 20px 32px;
			//       width: auto;
			//       display: flex;
			//       justify-content: center;
			//       border-bottom: 1px solid #ccc;

			//       img {
			//         height: 100%;
			//       }
			//     }
			//   }
			// }

			&__main {
				height: 100%;

				.section1 {
					background-color: #fafaf9;
					min-height: 100%;

					&__align {
						width: 1260px;
						margin: 0 auto;

						@include to(tablet-h) {
							width: 100%;
						}
					}

					&__main {
						@include flexbox;
						width: 75%;

						@include to(laptop) {
							width: 80%;
						}

						@include to(tablet) {
							width: 90%;
						}

						@include to(movil-h) {
							width: 100%;
							padding: 0 16px;
						}

						margin: 0 auto;
						//background-color: red;

						.form {
							width: 100%;

							&__step-one {
								width: 100%;
								font-family: seat-bold;
								position: relative;

								&--header {
									padding: 24px 0;
									border-bottom: 1px solid rgba(15, 15, 15, 0.2);
									@include flexbox;

									span {
										border-radius: 50%;
										margin-right: 24px;
										text-align: center;
										padding: 0 8px;
										font-size: 12px;
										line-height: 22px;
										color: rgba(15, 15, 15, 0.6);
										width: 24px;
										height: 24px;
										border: 1px solid rgba(15, 15, 15, 0.6);
										border-radius: 50%;
									}

									.hideStep {
										&::after {
											transform: rotate(180deg);
										}
									}

									h3 {
										font-size: 20px;
										cursor: pointer;

										@include to(movil-h) {
											font-size: 18px;
											padding-right: 30px;
										}

										&::after {
											content: '';
											background: url(https://www.seat.pe/etc/designs/nuevaswebs/main/img/icon-arrowup.svg)
												center center no-repeat;
											background-size: 15px 9px;
											position: absolute;
											right: 16px;
											-webkit-transform: translateY(-50%);
											-o-transform: translateY(-50%);
											-ms-transform: translateY(-50%);
											-moz-transform: translateY(-50%);
											transform: translateY(-50%);
											width: 16px;
											height: 16px;
											transform: rotate(0deg);
											top: 30px;
										}
									}
								}

								&--main {
									padding: 48px 0 40px;
									width: 100%;

									.models {
										display: grid;
										grid-template-columns: repeat(4, 1fr);
										column-gap: 30px;
										margin: 0 auto;

										@include to(laptop) {
											column-gap: 20px;
										}

										@include to(tablet) {
											column-gap: 15px;
										}

										@include to(movil-h) {
											grid-template-columns: 1fr 1fr;
										}

										&__car {
											padding: 16px;
											width: 100%;
											text-align: center;
											cursor: pointer;

											img {
												width: 100%;
											}

											p {
												margin-top: 16px;
												font-size: 16px;
											}

											&:hover {
												background-color: rgba(222, 218, 212, 0.2);
											}
										}
									}

									.btn-next {
										position: relative;

										button {
											padding: 6px 20px;
											background-color: transparent;
											color: #ea5d1a;
											border: 2px solid #ea5d1a;
											width: 280px;
											font-size: 16px;
											line-height: 30px;
											border-radius: 4px;
											font-weight: 700;
											margin-left: 16px;
											margin-top: 64px;
											cursor: pointer;
											@include to(movil) {
												width: 100%;
												margin-left: 0px;
												margin-top: 64px;
											}

											&:focus {
												outline: 0px;
											}
											&:hover {
												background-color: rgba(234, 92, 26, 0.2);
											}
											&:active {
												background-color: rgba(234, 92, 26, 0.3);
											}
										}
									}
								}
							}

							&__step-two {
								font-family: seat-bold;
								margin-bottom: 80px;

								@include to(movil) {
									margin-bottom: 40px;
								}

								&--header {
									padding: 24px 0;
									border-bottom: 1px solid rgba(15, 15, 15, 0.2);
									@include flexbox;
									position: relative;

									.hideStep {
										&::after {
											transform: rotate(180deg);
										}
									}

									h3 {
										font-size: 20px;
										cursor: pointer;

										@include to(movil) {
											font-size: 18px;
											padding-right: 30px;
										}

										&::after {
											content: '';
											background: url(https://www.seat.pe/etc/designs/nuevaswebs/main/img/icon-arrowup.svg)
												center center no-repeat;
											background-size: 15px 9px;
											position: absolute;
											right: 16px;
											-webkit-transform: translateY(-50%);
											-o-transform: translateY(-50%);
											-ms-transform: translateY(-50%);
											-moz-transform: translateY(-50%);
											transform: translateY(-50%);
											width: 16px;
											height: 16px;
											transform: rotate(0deg);
											top: 30px;
										}
									}

									span {
										border-radius: 50%;
										margin-right: 24px;
										text-align: center;
										padding: 0 8px;
										font-size: 12px;
										line-height: 22px;
										color: rgba(15, 15, 15, 0.6);
										width: 24px;
										height: 24px;
										border: 1px solid rgba(15, 15, 15, 0.6);
										border-radius: 50%;
									}
								}

								&--main {
									padding: 64px 32px;

									@include to(movil-h) {
										padding: 40px 0px;
									}

									.title {
									}

									.text-bottom {
										font-size: 16px;
										font-family: seat-medium;
										color: rgba(15, 15, 15, 0.6);
									}

									.content {
										display: grid;
										grid-template-columns: 1fr 1fr;
										column-gap: 64px;

										@include to(laptop) {
											column-gap: 50px;
										}

										@include to(tablet) {
											column-gap: 24px;
										}

										@include to(movil-h) {
											@include flexbox;
											@include flex-direction(column);
										}

										.input-group {
											position: relative;
											margin: 40px 0 20px;
											width: 100%;
											color: rgba(15, 15, 15, 0.6);

											@include to(movil-h) {
											}

											.select-group {
												label {
													top: 15px;
													position: absolute;
													padding-right: 30px;
												}

												button {
													position: relative;
													width: 100%;
													height: 42px;
													border: none;
													border-bottom: 1px solid rgba(15, 15, 15, 0.2);
													cursor: pointer;
													text-align: left;
													background-color: transparent;
													font-family: seat-medium;

													&:focus {
														outline: 0px;
													}
												}

												button::after {
													background: url('https://www.seat.pe/etc/designs/nuevaswebs/main/img/arrowup-icon-select-gray.svg')
														center center no-repeat;
													content: '';
													background-size: 15px 9px;
													position: absolute;
													right: 16px;
													bottom: 40%;
													-webkit-transform: translateY(-50%);
													-o-transform: translateY(-50%);
													-ms-transform: translateY(-50%);
													-moz-transform: translateY(-50%);
													transform: translateY(-50%);
													width: 16px;
													height: 16px;
													transform: rotate(180deg);
													top: 44%;
												}

												.collapse {
													display: flex;
													flex-direction: column;
													padding: 16px;
													position: absolute;
													background-color: white;
													z-index: 10;
													width: 100%;
													font-family: seat-medium;
													border: 1px solid rgba(0, 0, 0, 0.15);
													border-radius: 0.25rem;
													position: absolute;
													top: 0px;
													left: 0px;

													.selectItem {
														position: relative;
														padding-right: 15px;

														&::after {
															background: url('https://www.seat.pe/etc/designs/nuevaswebs/main/img/arrowup-icon-select-gray.svg')
																center center no-repeat;
															content: '';
															background-size: 15px 9px;
															position: absolute;
															right: 16px;
															bottom: 40%;
															-webkit-transform: translateY(-50%);
															-o-transform: translateY(-50%);
															-ms-transform: translateY(-50%);
															-moz-transform: translateY(-50%);
															transform: translateY(-50%);
															width: 16px;
															height: 16px;
															top: 44%;
														}
													}

													a {
														margin: 8px 0;
													}
												}
											}

											.select-group2 {
												label {
													top: 15px;
													position: absolute;
													padding-right: 30px;
												}

												button {
													position: relative;
													width: 100%;
													height: 42px;
													border: none;
													border-bottom: 1px solid rgba(15, 15, 15, 0.2);
													cursor: pointer;
													text-align: left;
													background-color: transparent;
													font-family: seat-medium;
													padding-bottom: 0px;

													@include to(laptop) {
														padding-bottom: 40px;
													}

													&:focus {
														outline: 0px;
													}
												}

												button::after {
													background: url('https://www.seat.pe/etc/designs/nuevaswebs/main/img/arrowup-icon-select-gray.svg')
														center center no-repeat;
													content: '';
													background-size: 15px 9px;
													position: absolute;
													right: 16px;
													bottom: 40%;
													-webkit-transform: translateY(-50%);
													-o-transform: translateY(-50%);
													-ms-transform: translateY(-50%);
													-moz-transform: translateY(-50%);
													transform: translateY(-50%);
													width: 16px;
													height: 16px;
													transform: rotate(180deg);
													top: 44%;
												}

												.collapse {
													display: flex;
													flex-direction: column;
													padding: 16px;
													position: absolute;
													background-color: white;
													z-index: 10;
													width: 100%;
													font-family: seat-medium;
													border: 1px solid rgba(0, 0, 0, 0.15);
													border-radius: 0.25rem;
													position: absolute;
													top: 0px;
													left: 0px;

													.selectItem {
														position: relative;
														padding-right: 15px;

														@include to(movil-h) {
															padding-right: 30px;
														}

														&::after {
															background: url('https://www.seat.pe/etc/designs/nuevaswebs/main/img/arrowup-icon-select-gray.svg')
																center center no-repeat;
															content: '';
															background-size: 15px 9px;
															position: absolute;
															right: 16px;
															bottom: 40%;
															-webkit-transform: translateY(-50%);
															-o-transform: translateY(-50%);
															-ms-transform: translateY(-50%);
															-moz-transform: translateY(-50%);
															transform: translateY(-50%);
															width: 16px;
															height: 16px;
															top: 44%;
														}
													}

													a {
														margin: 8px 0;
													}
												}
											}

											input {
												font-size: 18px;
												padding: 10px 10px 10px 5px;
												width: 100%;
												border: none;
												border-bottom: 1px solid rgba(15, 15, 15, 0.2);
												background-color: transparent;
											}

											input:focus {
												outline: none;
												border-bottom: 1px solid rgba(15, 15, 15, 0.6);
											}

											input:valid {
												border-bottom: 1px solid #00afac;
											}

											label {
												color: rgba(15, 15, 15, 0.6);
												font-size: 16px;
												font-weight: normal;
												position: absolute;
												pointer-events: none;
												left: 5px;
												top: 10px;
												transition: 0.2s ease all;
												-moz-transition: 0.2s ease all;
												-webkit-transition: 0.2s ease all;
												font-family: seat-medium;
											}

											input:focus ~ label,
											input:valid ~ label {
												top: -20px;
												font-size: 12px;
											}
										}

										.text-footer {
											margin: 40px 0;
											grid-column-start: 1;
											grid-column-end: 3;
											font-family: seat-medium;
										}

										.check {
											color: rgba(15, 15, 15, 0.6);
											font-family: seat-medium;

											&-title {
												font-size: 16px;
												margin-bottom: 15px;
											}

											&-text {
												font-size: 12px;
												margin-top: 10px;
												margin-bottom: 10px;
											}

											&-group {
												position: relative;
												color: rgba(15, 15, 15, 0.6);
												display: flex;
												margin: 5px 0;

												label {
													display: block;
													position: relative;
													font-weight: 300;
													font-size: 12px;
													//padding: 25px 25px 25px 80px;
													margin: 15px 0 0 30px;
													//height: 30px;
													z-index: 9;
													cursor: pointer;
													-webkit-transition: all 0.25s linear;
												}

												input[type='radio'] {
													position: absolute;
													opacity: 0;
													z-index: 100;
													margin-top: 15px;
													cursor: pointer;
												}

												.checking {
													display: flex;
													position: absolute;
													border: 2px solid rgba(15, 15, 15, 0.2);
													border-radius: 100%;
													height: 24px;
													width: 24px;
													top: 10px;
													left: 0px;
													z-index: 5;
													transition: border 0.25s linear;
													-webkit-transition: border 0.25s linear;
												}

												&:hover .checking {
													//border: 5px solid #FFFFFF;
												}

												.checking::before {
													display: block;
													position: absolute;
													content: '';
													border-radius: 100%;
													height: 10px;
													width: 10px;
													top: 5px;
													left: 5px;
													//margin: auto;
													transition: background 0.25s linear;
													-webkit-transition: background 0.25s linear;
												}

												input[type='radio']:checked ~ .checking {
												}

												input[type='radio']:checked ~ .checking::before {
													background: black;
												}
											}
										}
									}

									.terms {
										margin: 30px 0 64px;
										position: relative;

										input[type='checkbox'] {
											position: absolute;
											visibility: hidden;
											margin: 0;
										}

										label {
											display: block;
											position: relative;
											font-size: 12px;
											padding: 0px 0px 0px 30px;
											margin: 10px auto;
											height: 30px;
											z-index: 9;
											cursor: pointer;
											font-size: 16px;
											font-family: seat-medium;
											color: rgba(15, 15, 15, 0.6);

											a {
												text-decoration: underline;
												color: black;
											}
										}

										input[type='checkbox']:checked ~ .checkbox::before {
											top: -2px;
											left: -2px;
											width: 19px;
											height: 19px;
											border-radius: 4px;
											background: #0f0f0f
												url(https://www.seat.pe/etc/designs/nuevaswebs/main/img/icon-check.svg)
												left center no-repeat;
										}

										.checkbox {
											display: block;
											position: absolute;
											box-sizing: border-box;
											width: 20px;
											height: 20px;
											border: 2px solid rgba(15, 15, 15, 0.2);
											border-radius: 4px;
											top: 0px;
											left: 2px;
											z-index: 5;

											&::before {
												display: block;
												position: absolute;
												content: '';
												height: 20px;
												width: 20px;
												top: 0px;
												left: 0px;
												margin: auto;
											}
										}
									}

									.btn-send {
										button {
											padding: 6px 20px;
											background-color: transparent;
											color: #ea5d1a;
											border: 2px solid #ea5d1a;
											width: 280px;
											font-size: 16px;
											line-height: 30px;
											border-radius: 4px;
											font-weight: 700;
											margin-top: 64px;
											cursor: pointer;
											&:focus {
												outline: 0px;
											}
											&:hover {
												background-color: rgba(234, 92, 26, 0.2);
											}
											&:active {
												background-color: rgba(234, 92, 26, 0.3);
											}

											@include to(movil) {
												width: 100%;
												margin-left: 0px;
												margin-top: 64px;
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.selected-model {
	background-color: rgba(222, 218, 212, 0.2);
}

.showUp-enter-active {
	transition: all 0.5s ease;
}

.showUp-leave-active {
	transition: all 0.5s ease;
}

.showUp-enter,
.showUp-leave-to {
	transform: translateY(50px);
	opacity: 0;
}

.error {
	position: absolute;
	top: 5px;
	color: #e63a2b;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.error-input {
	position: absolute;
	top: 50px;
	color: #e63a2b;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
}

.error-input2 {
	position: absolute;
	top: 50px;
	color: #e63a2b;
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	@include to(laptop) {
		top: 65px;
	}
}
