<template>
  <div>
    <div class="content-image col-12">
      <div class="content-image__div col-12">
        <img
          src="../assets/img/audience-band-celebration-2034851.4e7e4e3e.png"
          alt
          width="100%;"
        />
      </div>
      <div class="content-image__text">
        <div class="content-image__text--title">
          <p>¿ESTAS LISTO PARA DIVERTIRTE?</p>
        </div>
        <div class="content-image__text--content">
          <p>
            Con funny encuentra los mejores eventos y disfruta de la diversión
            como nunca la habias vivido.
          </p>
        </div>
      </div>
    </div>
    <div class="content-home col-12">
      <div class="content-home__imgbackground">
        <div class="content-home__title col-12">
          <h2>Bienvenido a Funny</h2>
        </div>
        <div class="content-home__textContent col-12">
          <p>
            Somos la comunidad que revoluciona la diversión, haciendo que
            disfrutes de una nueva manera de sentir, con Funny encuentra los
            mejores eventos y discotecas cerca de ti.
          </p>
        </div>
        <div class="content-home__textFooter col-12">
          <p>En Funny reinventamos en significado de diversión</p>
        </div>
      </div>
    </div>
    <div class="content-steps col-12">
      <div class="content-steps__container">
        <div class="content-steps__title col-12">
          <h4>¿Cómo funciona?</h4>
        </div>
        <div class="content-steps__step col-12">
          <div class="content-steps__step--img col-xs-12 col-md-6">
            <img src="../assets/svg/download.svg" alt />
          </div>
          <div class="content-steps__step--text col-xs-12 col-md-6">
            <h3>1. Descarga la aplicación</h3>
            <p>Descarga la App desde el PlayStore</p>
          </div>
        </div>
        <div class="content-steps__step col-12">
          <div class="content-steps__step--text col-xs-12 col-md-6">
            <div class="content-steps__step--img1 col-xs-12 col-md-6">
              <img src="../assets/svg/register.svg" alt />
            </div>
            <h3>2. Registrate</h3>
            <p>Registra tus datos y acepta nuesttos términos y condiciones.</p>
          </div>
          <div class="content-steps__step--img2 col-xs-12 col-md-6">
            <img src="../assets/svg/register.svg" alt />
          </div>
        </div>
        <div class="content-steps__step col-12">
          <div class="content-steps__step--img col-xs-12 col-md-6">
            <img src="../assets/svg/party.svg" alt />
          </div>
          <div class="content-steps__step--text col-xs-12 col-md-6">
            <h3>3. Ahora diviertete</h3>
            <p>
              Encuentra los mejores eventos y disfruta de un nuevo estilo de
              diversión
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="content-information col-12">
      <div class="content-information__container">
        <div class="content-information__container--card col-md-4">
          <h4>¿Por qué ser socio de Funny?</h4>
          <p>
            Funny te ofrece una exposición global de tu eventos, y la
            posibilidad de poder armar listas.
          </p>
        </div>
        <div class="content-information__container--card col-md-4">
          <h4>¿Cómo publico mis eventos?</h4>
          <p>
            En Funny hemos desarrollado la plataforma del Adminitrador de la
            Discoteca-Club, en ella podras crear eventos y promociones.
          </p>
        </div>
        <div class="content-information__container--card col-md-4">
          <h4>¿Qué gano como usuario?</h4>
          <p>
            La posibilidad de crear listas para los eventos de las
            Discotecas-Club, ademas de tener acceso a un amplio catálogo de
            eventos para tu diversión.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { EventBus } from "../helper/EventBus.js";

export default {};
</script>
<style lang="scss">
@import "../assets/scss/variables.scss";
@import url("https://fonts.googleapis.com/css?family=Raleway:900&display=swap");
.content-image {
  width: 100%;
  display: flex;
  justify-content: center;
  &__text {
    position: absolute;
    align-items: center;
    width: 60%;
    @media (min-width: 320px) {
      top: 30%;
    }
    @media (min-width: 768px) {
      top: 100px;
    }
    &--title {
      @media (min-width: 320px) {
        font-weight: bold;
        position: relative;
        text-align: center;
        margin: 0 auto;
        color: $backGray;
        font-size: 1.3em;
        font-family: "Raleway", sans-serif;
      }

      @media (min-width: 768px) {
        font-weight: bold;
        position: relative;
        text-align: center;
        margin: 0 auto;
        color: $backGray;
        font-size: 5em;
        font-family: "Raleway", sans-serif;
      }
    }
    &--content {
      @media (min-width: 320px) {
        display: none;
        // margin-top: 10px  ;
        // color: white;
        // font-weight: bold;
        // font-size: 0.5em;
        // width: 100%;
        // text-align: center;
        // // padding: 0 10em  ;
      }

      @media (min-width: 768px) {
        display: flex;
        margin-top: 25px;
        color: white;
        font-weight: bold;
        font-size: 1em;
        width: 100%;
        text-align: center;
        padding: 0 10em;
      }
    }
  }
}
.content-home {
  // background: #010213;
  background-image: url("../assets/img/about_red1.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
  width: 100%;
  @media (min-width: 320px) {
    padding: 40px 35px;
  }

  @media (min-width: 768px) {
    padding: 10em 10em 10em 40em;
  }

  &__title {
    text-align: center;
    h2 {
      color: $hoverButton;
      font-weight: bold;
      @media (min-width: 320px) {
        font-size: 2em;
      }

      @media (min-width: 768px) {
        font-size: 2.5em;
      }
    }
  }
  &__textContent {
    margin-top: 25px;
    text-align: center;
    @media (min-width: 320px) {
      font-size: 1em;
      font-weight: bold;
    }

    @media (min-width: 768px) {
      font-size: 1.5em;
      font-weight: normal;
    }
  }
  &__textFooter {
    margin-top: 25px;
    text-align: center;
    @media (min-width: 320px) {
      font-size: 0.8em;
    }

    @media (min-width: 768px) {
      font-size: 1em;
    }
  }
}
.content-steps {
  background: #040c17;
  display: flex;
  flex-direction: column;
  @media (min-width: 320px) {
    padding: 0em 25px;
  }

  @media (min-width: 768px) {
    padding: 3em 2em 0 2em;
  }
  &__container {
    background: #021127;
    @media (min-width: 320px) {
      padding: 15px 0;
    }

    @media (min-width: 768px) {
      padding: 100px 50px;
    }
  }
  &__title {
    text-align: center;
    color: $hoverButton;
    font-weight: bold;
    margin-bottom: 20px;
    h4 {
      @media (min-width: 320px) {
        font-size: 2em;
      }

      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }
  }
  &__step {
    display: flex;
    flex-direction: row;
    @media (min-width: 320px) {
      flex-direction: column;
      padding: 1em 0;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      padding: 3em 0;
    }
    &--img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        @media (min-width: 320px) {
          width: 100px;
          height: 100px;
        }

        @media (min-width: 768px) {
          width: 150px;
          height: 150px;
        }
      }
    }
    &--img1 {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        @media (min-width: 320px) {
          width: 100px;
          height: 100px;
          display: flex;
        }

        @media (min-width: 768px) {
          width: 150px;
          height: 150px;
          display: none;
        }
      }
    }
    &--img2 {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        @media (min-width: 320px) {
          width: 100px;
          height: 100px;
          display: none;
        }

        @media (min-width: 768px) {
          width: 150px;
          height: 150px;
          display: flex;
        }
      }
    }
    &--text {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 0 5em;
      text-align: center;
      color: white;
      @media (min-width: 320px) {
        padding: 0 2em;
      }

      @media (min-width: 768px) {
        padding: 0 5em;
      }
      h3 {
        color: $hoverButton;

        font-weight: bold;
        padding: 0.5em 0;
        text-transform: uppercase;
        @media (min-width: 320px) {
          font-size: 1em;
        }

        @media (min-width: 768px) {
          font-size: 2em;
        }
      }
    }
  }
}
.content-information {
  box-sizing: border-box;
  background: #040c17;
  color: $backGray;

  text-align: center;
  display: flex;
  flex-direction: column;
  @media (min-width: 320px) {
    padding: 50px 25px;
  }
  @media (min-width: 768px) {
    padding: 50px 25px;
  }
  &__container {
    display: flex;
    @media (min-width: 320px) {
      flex-direction: column;
      background: #021127;
      padding: 15px 25px;
    }
    @media (min-width: 768px) {
      flex-direction: row;
      background: #040c17;
      padding: 0px 25px;
    }
    &--card {
      @media (min-width: 320px) {
        padding: 0;
      }
      @media (min-width: 768px) {
        padding: 0px 25px;
      }
    }
    h4 {
      color: $hoverButton;
      margin-top: 25px;
    }
    p {
      margin-top: 10px;
    }
  }
}
</style>
