<template>
	<div class="event">
		<div class="new-evento">
			<div class="new-evento__head">
				<div class="new-evento__head--text">
					<h3>Crear nuevo evento</h3>
				</div>
				<div class="new-evento__head--btn" @click="showFormulario">
					<b-button>Nuevo Evento</b-button>
				</div>
			</div>
			<slide-up-down :active="showForm" :duration="1000">
				<div class="form-event">
					<div class="form-left">
						<div class="form-item">
							<label class="" for>Nombre del evento</label>
							<input
								class="form-control"
								v-model="event.name"
								type="text"
								placeholder="Ingresa el nombre de tu evento"
							/>
						</div>
						<div class="form-item">
							<label class="" for>Descripción del evento</label>
							<textarea
								style="resize: none;"
								name=""
								id=""
								rows="2"
								class="form-control"
								v-model="event.description"
								type="text"
								placeholder="Descripción"
							></textarea>
						</div>
						<div class="form-items">
							<div class="item-number">
								<label class="" for>Precio</label>
								<div class="ipt-num">
									<span></span>
									<input
										class="form-control"
										v-model="event.price"
										type="number"
									/>
								</div>
							</div>
							<div>
								<label class="" for>Fecha</label>
								<input
									class="form-control"
									data-date-format="YYYY MMMM DD"
									v-model="event.date"
									type="date"
								/>
							</div>
						</div>
					</div>
					<div class="form-right">
						<div class="image-event">
							<input
								type="file"
								@change="onUploadPhotoEvent()"
								name="uploader"
								accept="image/x-png, image/gif, image/jpeg"
							/>
							<span>Seleccion una imagen</span>
						</div>
						<img
							v-if="event.img === null"
							:src="selected.default"
							alt=""
							class="event-default"
						/>
						<img
							v-if="event.img !== null"
							id="image-event"
							class="event-default"
							:src="event.img"
						/>
						<b-progress
							:value="uploadValue"
							max="100"
							id="uploader"
							variant="success"
							show-value
							v-if="selected.file != null"
							class="progress"
						>
						</b-progress>
					</div>
					<div class="form-btn">
						<button @click.prevent="addToApi" type="submit" class>
							Crear nuevo evento
						</button>
					</div>
				</div>
			</slide-up-down>
		</div>
		<div class="list-events">
			<div
				v-for="(event, index) in events"
				:key="index"
				class="event-card card"
			>
				<img
					:src="event.fotoEvento"
					height="175px"
					class="card-img-top"
					alt="..."
				/>
				<hr />
				<div class="event-card__body card-body">
					<div class="event-card__body--title">
						<h4 class="card-title">
							<strong>{{ event.nombreEvento }}</strong>
						</h4>
					</div>
					<div class="event-card__body--text">
						<p class="card-text">
							<strong>{{ event.descripcion }}</strong>
						</p>
					</div>

					<div class="event-card__body--price">
						<p class="price">
							<strong>Precio: </strong>S/.
							{{ event.precioEntrada }}
						</p>
					</div>
					<div class="event-card__body--date">
						<p class="date">
							<i class="bx bxs-message-alt-x"></i><strong>Fecha:</strong>
							{{ event.fecha | moment('dddd Do,  MMMM  YYYY') }}
						</p>
					</div>
				</div>
				<div class="event-card__footer card-footer">
					<div class="footer-btn">
						<button @click="modalOpen('edit', event)" class="btn btn-warning">
							<i class="bx bxs-pencil"></i> Editar
						</button>
					</div>
					<div class="footer-btn">
						<button @click="modalOpen('delete', event)" class="btn btn-danger">
							<i class="bx bxs-trash-alt"></i> Eliminar
						</button>
					</div>
				</div>
			</div>
		</div>
		<transition name="fade" appear>
			<div class="modal-overlay" v-if="modal.overlay"></div>
		</transition>
		<transition name="slide" appear>
			<div class="modal-container" v-if="modal.edit">
				<div class="container__header">
					<h3>Edita la información del evento</h3>
				</div>
				<div class="container__main">
					<div class="main-ipt">
						<label for="">Nombre del evento</label
						><input
							v-model="editEvent.nombreEvento"
							class="form-control"
							type="text"
						/>
					</div>
					<div class="main-ipt">
						<label for="">Descripcion del evento</label
						><textarea
							v-model="editEvent.descripcion"
							class="form-control"
							name=""
							id=""
							rows="2"
						></textarea>
					</div>
					<div class="main-datos">
						<div class="main-ipt">
							<label for="">Precio</label
							><input
								v-model="editEvent.precioEntrada"
								class="form-control"
								type="number"
							/>
						</div>
						<div class="main-ipt">
							<label for="">Fecha</label
							><input
								v-model="editEvent.fecha"
								class="form-control"
								type="date"
							/>
						</div>
					</div>
					<div class="main-img">
						<div class="update-ipt">
							<input
								type="file"
								@change="updateFotoEvent()"
								name="uploader"
								accept="image/x-png, image/gif, image/jpeg"
							/>
							<span>Seleccion una imagen</span>
						</div>
						<img
							:src="
								newphotoEvent == null ? editEvent.fotoEvento : newphotoEvent
							"
							alt=""
						/>
						<b-progress
							:value="uploadValue"
							max="100"
							id="uploader"
							variant="success"
							show-value
							v-if="selected.file != null"
							class="progress"
						>
						</b-progress>
					</div>
				</div>
				<div class="container__footer">
					<button @click="modalClose('edit')" class="btn btn-danger">
						Cancelar</button
					><button class="btn btn-success" @click="updateEvent('edit')">
						Confirmar
					</button>
				</div>
			</div>
		</transition>
		<transition name="slide" appear>
			<div class="modal-container" v-if="modal.delete">
				<div class="container__header">
					<h3>¿Desea eliminar este evento?</h3>
				</div>

				<div class="container__footer">
					<button class="btn btn-danger" @click="modalClose('delete')">
						Cancelar</button
					><button @click="deletEvent" class="btn btn-success">
						Confirmar
					</button>
				</div>
			</div>
		</transition>
	</div>
</template>
<script>
	import firebase from 'firebase';
	import { error, log } from 'util';
	import axios from 'axios';
	import { service } from '../api';
	import Vue from 'vue';
	import SlideUpDown from 'vue-slide-up-down';
	Vue.component('slide-up-down', SlideUpDown);
	export default {
		data() {
			return {
				modal: {
					edit: false,
					delete: false,
					overlay: false
				},
				editEvent: {},
				newphotoEvent: null,
				event: {
					name: '',
					description: '',
					date: '',
					price: '',
					img: null
				},
				events: [],
				selected: {
					file: null,
					text: null,
					default:
						'https://firebasestorage.googleapis.com/v0/b/uploadimage-408af.appspot.com/o/images%2Fdefault.gif?alt=media&token=1040e0fc-c20b-4103-9f43-0e83ee337340'
				},
				uploadValue: 0,
				picture: null,
				showForm: false,
				loader: false,
				prueba: []
			};
		},
		methods: {
			modalClose(m) {
				if (m == 'edit') {
					this.modal.edit = false;
				} else if (m == 'delete') {
					this.modal.delete = false;
				}
				this.modal.overlay = false;
				const panel = document.getElementById('dashboard');
				panel.style.height = 'auto';
				panel.style.overflow = 'visible';
				panel.style.zIndex = '6';
				this.selected.file = null;
				this.uploadValue = 0;
				this.picture = null;
				this.newphotoEvent = null;
			},
			modalOpen(m, e) {
				console.log('tipo', m, 'evento', e);
				this.editEvent = e;
				if (m == 'edit') {
					this.modal.edit = true;
				} else if (m == 'delete') {
					this.modal.delete = true;
				}

				this.modal.overlay = true;
				const panel = document.getElementById('dashboard');
				panel.style.height = '100vh';
				panel.style.overflow = 'hidden';
				panel.style.zIndex = '8';
			},

			addToApi() {
				let newEvent = {
					idLocal: Number(sessionStorage.getItem('userId')),
					nombreEvento: this.event.name,
					nombreClub: this.$store.state.currentClub.nombreClub,
					fecha: this.event.date,
					descripcion: this.event.description,
					precioEntrada: this.event.price,
					fotoEvento: this.event.img,
					status: true
				};
				if (
					newEvent.nombreEvento &&
					newEvent.descripcion &&
					newEvent.fecha &&
					newEvent.precioEntrada
				) {
					if (newEvent.fotoEvento == null) {
						newEvent.fotoEvento = this.selected.default;
					}
				} else {
					return null;
				}

				this.showForm = false;
				service
					.newEvent(newEvent)
					.then(res => {
						this.event = {
							name: '',
							description: '',
							date: '',
							price: '',
							img: ''
						};
						this.selected.file = null;
						this.uploadValue = 0;
						this.picture = null;
						this.event.img = null;
					})
					.catch(error);
			},
			initEvents() {
				this.$store.dispatch('clubById').then(res => {
					this.events = res;
				});
			},
			onUploadPhotoEvent(e) {
				this.selected.file = event.target.files[0];
				const storageRef = firebase
					.storage()
					.ref(`/images/fotoEvento/${this.selected.file.name}`);
				const task = storageRef.put(this.selected.file);
				task.on(
					'state_changed',
					snapshot => {
						let percentage =
							(snapshot.bytesTransferred / snapshot.totalBytes) * 100;
						this.uploadValue = percentage;
					},
					error => {
						console.log(error.message);
					},
					() => {
						this.uploadValue = 100;
						task.snapshot.ref.getDownloadURL().then(url => {
							this.picture = url;
							this.event.img = url;
						});
					}
				);
			},
			showFormulario() {
				this.showForm = !this.showForm;
			},

			deletEvent(id) {
				let idEvento = this.editEvent.idEvento;
				// this.$store
				// 	.dispatch('deleteEvent', id)
				// 	.then((res) => console.log('res del duispatch', res));
				service.deleteEvent(idEvento).then(res => {
					this.editEvent = {};
					this.modalClose('delete');
				});
			},
			updateEvent() {
				if (
					this.editEvent.nombreEvento &&
					this.editEvent.descripcion &&
					this.editEvent.fecha &&
					this.editEvent.precioEntrada
				) {
					if (this.newphotoEvent) {
						this.editEvent.fotoEvento = this.newphotoEvent;
					}
					this.$store.dispatch('updateEvent', this.editEvent);
					this.modalClose('edit');
				} else {
					return null;
				}
			},
			updateFotoEvent(e) {
				this.selected.file = event.target.files[0];
				const storageRef = firebase
					.storage()
					.ref(`/images/fotoEvento/${this.selected.file.name}`);
				const task = storageRef.put(this.selected.file);
				task.on(
					'state_changed',
					snapshot => {
						let percentage =
							(snapshot.bytesTransferred / snapshot.totalBytes) * 100;
						this.uploadValue = percentage;
					},
					error => {
						console.log(error.message);
					},
					() => {
						this.uploadValue = 100;
						task.snapshot.ref.getDownloadURL().then(url => {
							this.picture = url;
							this.newphotoEvent = url;
							this.editEvent.fotoEvento = url;
						});
					}
				);
			}
		},
		created() {
			this.initEvents();
		},
		updated() {
			this.initEvents();
		}
	};
</script>
<style lang="scss">
	@import '../assets/scss/variables.scss';
	@import '../assets/scss/common.scss';
	.event {
		color: $colorBorde;
	}
	.new-evento {
		margin: 1em 0 0 0;
		display: flex;
		flex-direction: column;
		// box-shadow: 0px 3px 10px 1px rgba(166,166,166,1);
		padding: 20px;
		@include to(movil) {
			padding: 0;
		}
		&__head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			@include from(tablet-h) {
				justify-content: flex-start;
				padding: 20px;
			}
			&--text {
				h3 {
					font: normal 600 20px $font2;
				}
			}
			&--btn {
				margin: 0 1em;
				button {
					background-color: $hoverButton;
					border: none;
					padding: 5px 10px;
					font: normal 300 16px $font2;

					&:hover {
						background: $hoverButton;
						border: $hoverBorder 1px solid;
						box-sizing: border-box;
					}
					&:focus {
						background: $hoverButton;
						border: $hoverBorder 1px solid;
						box-sizing: border-box;
					}
				}
			}
		}
		.form-event {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 40px;
			input {
				width: 100%;
			}
			input[type='file'] {
				opacity: 1;
			}
			@include to(movil) {
				display: flex;
				flex-direction: column;
			}
		}
		.form-left {
			.form-item {
				margin-top: 15px;
				label {
					margin: 0;
				}
			}
			.form-items {
				margin-top: 15px;
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 25px;
				input[type='date']::-webkit-inner-spin-button {
					display: none;
				}

				.item-number {
					width: 100%;
					height: 100%;
					.ipt-num {
						position: relative;
						span {
							width: 35px;
							height: 100%;
							z-index: 2;
							display: flex;
							position: absolute;
							&::before {
								content: 'S/.';
								position: absolute;
								top: 7px;
								bottom: 0;
								left: 15px;
								font: normal 400 16px $font2;
								margin-top: auto;
								margin-bottom: auto;
								color: #495057;
							}
						}
						input[type='number']::-webkit-inner-spin-button {
							display: none;
						}
						input {
							z-index: 1;
							position: relative;
							padding-left: 35px;
						}
					}
				}
				input[type='number'] {
					position: relative;
				}
				label {
					margin: 0;
				}
			}
		}
		.form-right {
			display: flex;
			flex-direction: column;
			@include to(movil) {
				margin-top: 20px;
			}
			label {
				margin: 0;
			}
			.image-event {
				position: relative;
				height: 50px;
				width: 100%;
				@include to(movil) {
					margin-top: 10px;
				}
				input[type='file'] {
					opacity: 0;
					z-index: 5;
					position: absolute;
					top: 0;
					left: 0;
					height: 40px;
					width: 180px;
				}
				span {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 1;
					width: 180px;
					background: #25857b;
					color: white;
					font: normal 400 14px $font2;
					text-align: center;
					padding: 10px 10px;
					border-radius: 4px;
					// display: flex;
					// align-items: center;
					// justify-content: center;
				}
			}
			.event-default {
				border: 1px solid rgba(0, 0, 0, 0.2);
				width: 400px;
				height: 250px;
				@include to(movil) {
					width: 100%;
					height: 180px;
					align-self: center;
				}
			}
			.progress {
				margin-top: 20px;
				width: 400px;
				@include to(movil) {
					width: 100%;
					height: auto;
					align-self: center;
				}
			}
		}
		.form-btn {
			@include to(movil) {
				margin-top: 15px;
			}
			button {
				padding: 10px 20px;
				border-radius: 4px;
				background: $hoverButton;
				font: normal 600 16px $font2;
				color: white;
				border: none;
			}
		}
	}
	.event-list {
		// display: flex;
		overflow: hidden;
		&__card {
			overflow: hidden;
			margin-top: 30px;
			// box-shadow: 9px 9px 7px -5px rgba(191, 185, 191, 1);
			&--title {
				text-align: center;
				font-weight: bold;
				margin: 10px 0;
				color: $hoverButton;
				font-size: 1.2em;
				text-transform: capitalize;
				border-bottom: 1px solid black;
			}
			&--date {
				color: $hoverButton;
				font-weight: 600;
			}
			&--price {
				font-weight: bold;
			}
		}
	}
	.event-cont {
		border-bottom: 1px solid rgba(209, 198, 198, 0.7);
		border-right: 1px solid hsla(0, 2%, 79%, 0.7);
		border-left: 1px solid hsla(0, 2%, 79%, 0.7);

		min-height: 350px;
	}
	.list-events {
		margin-top: 30px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 25px;
		background: $blanco;
		padding: 25px;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		@include to(movil) {
			display: flex;
			flex-direction: column;
			padding: 0;
		}
		.event-card {
			min-height: 300px;
			overflow: hidden;
			margin-top: 25px;

			box-shadow: 0px 0px 5px 2px rgba(138, 138, 138, 0.3);
			hr {
				margin: 0;
			}
			.card-img-top {
			}
			&__body {
				padding: 20px 20px 10px 20px;

				&--title {
					text-align: left;
					color: #1a171b;
					color: $rosado;
					text-transform: uppercase;
					h4 {
						font: normal 700 18px $font2;
					}
				}
				&--text {
					color: rgb(34, 34, 34);
					font: normal 400 14px $font2;
					margin-top: 5px;
					display: -webkit-box;

					/*Le indicamos a nuestro texto la oritentación que tendra */
					-webkit-box-orient: vertical;

					/* Aqui le estamos diciendo cuantas lineas de texto queremos que aparezcan */
					-webkit-line-clamp: 2;

					/* Y por ultimo ocultar las lineas que se salgan del texto */
					overflow-y: hidden;
					p {
						margin: 0;
					}
				}
				&--date {
					color: rgb(34, 34, 34);
					font: normal 400 14px $font2;
					p {
						position: relative;
						&::before {
							display: inline-block;
							margin-right: 0px;
							font: normal normal normal 14px/1 FontAwesome;
							content: '\f784';
							position: relative;
							color: $rosado;
							width: 20px;
							text-align: center;
							margin-right: 5px;
						}
					}
				}
				&--price {
					color: rgb(34, 34, 34);
					font: normal 400 14px $font2;
					margin-top: 10px;
					p {
						position: relative;
						display: flex;
						&::before {
							margin-right: 0px;
							font: normal normal normal 14px/1 FontAwesome;
							content: '\f3d1';
							position: relative;
							color: $rosado;
							width: 20px;
							height: 100%;
							text-align: center;
							margin-right: 5px;
						}
					}
				}
			}
			&__footer {
				display: flex;
				justify-content: space-around;
				padding: 20px;
				@include to(movil) {
					padding: 0;
				}
				.footer-btn {
					width: 50%;
					display: flex;
					justify-content: center;
					height: 100%;
					button {
						width: 120px;
						color: $blanco;
						font-weight: bold;
						@include to(movil) {
							width: 100%;
							border-radius: 0;
							height: 45px;
						}
					}
				}
			}
		}
	}
	.modal-header {
		color: $rosado;
		padding: 10px;
		h4 {
			font-weight: bold;
		}
	}
	.modal-eventCont {
		padding: 0 10px 10px 10px;
		&__input {
			width: 100%;
			margin-top: 10px;
			font-size: 14px;
			input {
				border: solid 1px rgb(187, 187, 188);
				background: transparent;
				width: 100%;
				padding: 5px 10px;
				color: $azul;
				border-radius: 2px;
				&:focus {
					outline: 0px;
				}
			}
		}
		&__ipt {
			display: grid;
			grid-template-columns: 1fr 1fr;
			margin-top: 10px;
			&--detail {
				display: flex;
				align-items: center;
				label {
					min-width: 70px;
				}
				input[type='number'] {
					width: 75px;
					padding: 5px 10px;
					border-radius: 2px;
					border: solid 1px rgb(187, 187, 188);
				}
				input[type='date'] {
					width: 150px;
					padding: 5px 10px;
					border-radius: 2px;
					border: solid 1px rgb(187, 187, 188);
				}
			}
		}
		&__img {
			width: 100%;
			margin-top: 15px;
			display: flex;
			justify-content: center;

			img {
				width: 100%;
				height: 250px;
				border: solid 1px rgb(187, 187, 188);
			}
		}
	}
	.modal-footer {
		padding: 0 10px 10px 10px;
	}
	.modal-overlay {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 98;
		background-color: rgba(0, 0, 0, 0.7);
		max-height: 100vh;
		overflow: hidden;
		overflow-y: hidden;
	}

	.modal-container {
		overflow-y: scroll;
		position: fixed;
		top: 50%;
		left: 50%;
		margin-left: auto;
		margin-right: auto;
		transform: translate(-50%, -50%);
		z-index: 99;
		max-height: 90vh;
		max-width: 450px;
		background-color: #fff;
		padding: 25px;
		@include to(movil) {
			max-width: 90%;
			width: 90%;
		}
		.container__header {
			h3 {
				font: normal 700 22px $font2;
				@include to(movil) {
					text-align: center;
				}
			}
		}
		.container__main {
			width: 100%;
			.main-ipt {
				width: 100%;
				display: flex;
				flex-direction: column;
				margin-top: 10px;
				label {
					margin: 0;
					font: normal 500 14px $font2;
				}
				input {
					font: normal 500 14px $font2;
				}
				textarea {
					font: normal 500 14px $font2;
					resize: none;
				}
			}
			.main-datos {
				display: grid;
				grid-template-columns: 1fr 1fr;
				column-gap: 15px;
			}
			.main-img {
				margin-top: 10px;
				width: 100%;
				.update-ipt {
					position: relative;
					height: 50px;
					width: 100%;
					@include to(movil) {
						margin-top: 10px;
					}
					input[type='file'] {
						opacity: 0;
						z-index: 5;
						position: absolute;
						top: 0;
						left: 0;
						height: 40px;
						width: 180px;
					}
					span {
						position: absolute;
						top: 0;
						left: 0;
						z-index: 1;
						width: 180px;
						background: rgb(251, 187, 11);
						color: white;
						font: normal 700 14px $font2;
						text-align: center;
						padding: 10px 10px;
						border-radius: 4px;
						// display: flex;
						// align-items: center;
						// justify-content: center;
					}
				}
				button {
					font: normal 500 14px $font2;
				}
				img {
					border: 1px solid rgba(0, 0, 0, 0.2);
					width: 100%;
					height: 225px;
				}
				.progress {
					margin-top: 10px;
				}
			}
		}
		.container__footer {
			margin-top: 15px;
			display: flex;
			justify-content: flex-end;
			button {
				margin-left: 15px;
				font: normal 700 14px $font2;
			}
		}
	}

	.fade-enter-active,
	.fade-leave-active {
		transition: opacity 0.1s;
	}

	.fade-enter,
	.fade-leave-to {
		opacity: 0;
	}

	.slide-enter-active,
	.slide-leave-active {
		transition: transform 1s;
	}

	.slide-enter,
	.slide-leave-to {
		transform: translateY(100vh) translateX(-50%);
	}
</style>
