<template>
	<div class="list">
		<div class="list-container">
			<div>
				<ul>
					<li v-for="item in events" :key="item.idEvento">
						<div>
							<a href=""> {{ item.nombreEvento }}</a>

							<div v-for="l in list" :key="l.id">
								{{ l.idEvento == item.idEvento ? l.codLista : '' }}
								{{ l.idEvento == item.idEvento ? l.fecha : '' }}
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</template>
<script>
	export default {
		data() {
			return {
				list: [],
				events: [],
			};
		},
		methods: {
			initEvents() {
				this.$store.dispatch('clubById').then((res) => {
					this.events = res;
				});
			},
		},
		created() {
			let id = Number(sessionStorage.getItem('userId'));
			this.$store.dispatch('getListByClub', id).then((res) => {
				this.list = this.$store.state.list;
			});
			this.initEvents();
		},
	};
</script>
<style lang="scss">
	.list {
		padding: 1em 2em;
		&-container {
			background: white;
			min-height: 80vh;
			padding: 25px;
		}
	}
</style>
