<template>
  <transition>
    <div class="preloader" v-if="showcast">
      carddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddgando
      peee
    </div>
  </transition>
</template>
<script>
export default {
  data() {
    return {
      showcast: true
    };
  },
  methods: {
    showtoggle() {
      setTimeout(() => {
        this.showcast = false;
      }, 3000);
    }
  },
  mounted() {
    this.showtoggle();
  }
};
</script>
<style lang="scss">
.preloader {
  position: absolute;
}
</style>
