<template>
	<div class="promotion">
		<div class="new-promotion row">
			<div class="new-promotion__head col-12">
				<div class="new-promotion__head--text">
					<h3>Crear nueva Promoción</h3>
				</div>
				<div class="new-promotion__head--btn" @click="showFormulario">
					<b-button>Nueva Promoción</b-button>
				</div>
			</div>
			<div class="col-12">
				<transition name="formevent">
					<div class="new-promotion__form" v-if="showForm">
						<form action>
							<!-- <div class="new-promotion__form--field form-group col-12">
                <label class="col-12" for>Nombre de la promoción</label>
                <input
                  class="form-control col-6"
                  v-model="event.name"
                  type="text"
                  placeholder="Ingresa el nombre de tu promotion"
                />
              </div>-->
							<div class="new-promotion__form--field form-group col-12">
								<label class="col-12" for>Descripción de la promoción</label>
								<input
									class="form-control col-6"
									v-model="promotion.description"
									type="text"
									placeholder="Descripción"
								/>
							</div>
							<div class="new-promotion__form--field form-group col-12">
								<label class="col-12" for>Precio</label>

								<input
									class="form-control col-2"
									v-model="promotion.price"
									type="number"
									placeholder="S/."
								/>
							</div>
							<div class="new-promotion__form--field form-group col-12">
								<label class="col-12" for>Imagen</label>
								<div v-show="showprogress">
									<label for>cargando</label>
									<progress
										:value="uploadValue"
										max="100"
										id="uploader"
									></progress>
								</div>
								<input
									type="file"
									@change="onFileSelected"
									name="uploader"
									accept="image/x-png, image/gif, image/jpeg"
								/>
								<transition v-if="showprogress">
									<button @click.prevent="onUploadPhotoEvent">
										Subir foto
									</button>
								</transition>
								<img width="320" :src="picture" />
							</div>
							<div class="new-promotion__form--field form-group col-12">
								<button @click.prevent="createPromotion" type="submit" class>
									Crear nuevo evento
								</button>
							</div>
						</form>
					</div>
				</transition>
			</div>
		</div>
		<!-- <div class="promotion-list row">
      <div v-for="(promotion, index) in promotions" :key="index" class="promotion-list__card col-4">
        <img :src="promotion.fotoPromocion" height="200px" width="100%" alt />
        <div class="promotion-list__card--description">
          <p>{{ promotion.descripcion }}</p>
        </div>
        <div class="promotion-list__card--price">
          <p>Precio: S/. {{ promotion.precio }}</p>
        </div>
      </div>
    </div>-->
		<div class="list-promotion">
			<div
				v-for="(promotion, index) in promotions"
				:key="index"
				class="promotion-card card"
			>
				<img
					:src="promotion.fotoPromocion"
					height="175px"
					class="card-img-top"
					alt="..."
				/>
				<hr />
				<div class="promotion-card__body card-body">
					<div class="promotion-card__body--title">
						<h4 class="card-title">
							<strong>{{ promotion.descripcion }}</strong>
						</h4>
					</div>
					<div class="promotion-card__body--text">
						<p>Precio: {{ promotion.precio }}</p>
					</div>
				</div>
				<div class="promotion-card__footer card-footer">
					<div>
						<button
							@click="showModal('edit-promotion', promotion)"
							class="btn btn-warning"
						>
							<i class="bx bxs-pencil"></i> Editar
						</button>
					</div>
					<div>
						<button
							@click="showModal('delete-promotion', promotion)"
							class="btn btn-danger"
						>
							<i class="bx bxs-trash-alt"></i> Eliminar
						</button>
					</div>
				</div>
			</div>
		</div>

		<transition>
			<b-modal hide-header hide-footer ref="delete-promotion">
				<div class="modal-header">
					<h5>?Desea eliminar esta promoción?</h5>
				</div>
				<div class="modal-footer">
					<div>
						<button
							@click="hideModal('delete-promotion')"
							class="btn btn-danger"
						>
							No
						</button>
					</div>
					<div>
						<button @click="deletePromotion()" class="btn btn-success">
							Si
						</button>
					</div>
				</div>
			</b-modal>
		</transition>
	</div>
</template>
<script>
	import firebase from 'firebase';
	import { error } from 'util';
	import axios from 'axios';
	import { service } from '../api';
	export default {
		data() {
			return {
				editPromotion: {},
				promotion: {
					description: '',
					price: '',
					img: '',
				},
				promotions: [],
				selectedFile: null,
				uploadValue: 0,
				picture: null,
				showForm: false,
				loader: false,
				showprogress: false,
			};
		},
		methods: {
			createPromotion() {
				let newPromotion = {
					idLocal: sessionStorage.getItem('userId'),
					descripcion: this.promotion.description,
					precio: this.promotion.price,
					fotoPromocion: this.promotion.img,
				};
				console.log('nueva prmo', newPromotion);

				this.showForm = false;
				service
					.newPromotion(newPromotion)
					.then((res) => {
						// console.log("este es el res", res);
					})
					.catch(error);
			},
			initPromotions() {
				this.$store.dispatch('promotionsByClub').then((res) => {
					this.promotions = res;
				});
			},
			updatePromotion() {},
			deletePromotion() {
				let id = this.editPromotion.id;
				this.$store.dispatch('deletePromotion', id);
			},
			onFileSelected(event) {
				this.selectedFile = event.target.files[0];
				this.showprogress = true;
			},
			onUploadPhotoEvent() {
				const storageRef = firebase
					.storage()
					.ref(`/images/fotoEvento/${this.selectedFile.name}`);
				const task = storageRef.put(this.selectedFile);
				task.on(
					'state_changed',
					(snapshot) => {
						let percentage =
							(snapshot.bytesTransferred / snapshot.totalBytes) * 100;
						this.uploadValue = percentage;
					},
					(error) => {
						// console.log(error.message);
					},
					() => {
						this.uploadValue = 100;
						task.snapshot.ref.getDownloadURL().then((url) => {
							this.picture = url;
							this.promotion.img = url;
							// console.log(this.picture);
						});
					}
				);
			},
			showFormulario() {
				this.showForm = !this.showForm;
			},
			load() {
				if (this.promotions.length === 0) {
					this.loader = false;
				} else {
					setTimeout(() => {
						this.loader = true;
					}, 1000);
				}
			},
			showModal(a, prom) {
				this.$refs[a].show();
				this.editPromotion = prom;
				console.log(this.editPromotion);
			},
			hideModal(a) {
				this.$refs[a].hide();
			},
		},
		created() {
			this.initPromotions();
		},
		updated() {
			this.load();
			this.initPromotions();
		},
	};
</script>
<style lang="scss">
	@import '../assets/scss/variables.scss';
	.promotion {
		padding: 1em 2em;
		color: $colorBorde;
	}
	.new-promotion {
		margin: 1em 0 0 0;
		display: flex;
		flex-direction: row;
		// box-shadow: 0px 3px 10px 1px rgba(166,166,166,1);
		border-bottom: 1px solid rgba(166, 166, 166, 1);

		&__head {
			display: flex;
			align-items: center;
			padding: 2em 1em;

			&--text {
				font-size: 1.2em;
			}
			&--btn {
				margin: 0 1em;
				button {
					background-color: $hoverButton;
					border: none;
					padding: 5px 10px;
					&:hover {
						background: $hoverButton;
						border: $hoverBorder 1px solid;
						box-sizing: border-box;
					}
				}
			}
		}
		&__form {
			padding: 2em 0;
			border-top: 1px solid rgba(166, 166, 166, 1);

			&--cont {
				border-top: 1px solid rgba(166, 166, 166, 1);
			}
			&--field {
				margin: 15px 0;
				input {
					padding: 0 10px;
				}

				input[type='date']::-webkit-inner-spin-button {
					display: none;
				}
				input[type='number']::-webkit-inner-spin-button {
					display: none;
				}

				button {
					margin-top: 10px;
					padding: 5px 10px;
					border: none;
					border-radius: 3px;
					background-color: $azulMenu;
					color: $backgroundHeader;
					font-weight: bold;
				}
			}
		}
	}
	.promotion-list {
		// display: flex;
		overflow: hidden;
		&__card {
			overflow: hidden;
			margin-top: 30px;
			padding: 1em 1.5em;
			box-shadow: 9px 9px 7px -5px rgba(191, 185, 191, 1);
			&--title {
				text-align: center;
				font-weight: bold;
				margin: 10px 0;
				color: $hoverButton;
				font-size: 1.2em;
				text-transform: capitalize;
				border-bottom: 1px solid black;
			}
			&--description {
				margin: 10px 0;
				font-weight: bold;
				font-size: 1.2em;
				text-transform: capitalize;
				color: $hoverButton;
			}
			&--date {
				color: $hoverButton;
				font-weight: 600;
			}
			&--price {
				font-weight: bold;
			}
		}
	}
	.formpromotion-enter,
	.formpromotion-leave-to {
		transform: scaleY(0.7);
		opacity: 0;
	}

	.formpromotion-enter-to,
	.formpromotion-leave {
		opacity: 1;
		transform: scaleY(1);
	}

	.formpromotion-enter-active,
	.formpromotion-leave-active {
		transition: all 0.4s ease-out;
		transform-origin: top center;
	}

	.list-promotion {
		margin-top: 30px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 10px;
		background: $blanco;
		padding: 25px;
		.promotion-card {
			min-height: 300px;
			overflow: hidden;
			&__body {
				padding: 0 20px 10px 20px;

				&--title {
					text-align: center;
					color: $rosado;
					text-transform: uppercase;
					h4 {
						font-size: 20px;
					}
				}
				&--text {
					color: rgb(34, 34, 34);
					font-size: 18px;
					margin-top: 5px;
					display: -webkit-box;

					/*Le indicamos a nuestro texto la oritentaciรณn que tendra */
					-webkit-box-orient: vertical;

					/* Aqui le estamos diciendo cuantas lineas de texto queremos que aparezcan */
					-webkit-line-clamp: 2;

					/* Y por ultimo ocultar las lineas que se salgan del texto */
					overflow-y: hidden;
					p {
						margin: 0;
					}
				}
			}
			&__footer {
				display: flex;
				justify-content: space-around;
				button {
					min-width: 100px;
					color: $blanco;
					font-weight: bold;
				}
			}
		}
	}
</style>
