<template>
	<div class="user">
		<div class="user-info border border-ligth bg-white rounded">
			<button @click="showModal('my-modal')" class="user-info__btn">
				<i class="bx bxs-edit-alt"></i>Editar datos
			</button>
			<div class="user-info-cont">
				<div>
					<div class="user-info__title">
						<h3><i class="bx bx-news"></i> Información Básica</h3>
					</div>
					<div class="user-info__data">
						<p class="user-info__data--title">
							<i class="bx bxs-map"></i> Dirección
						</p>
						<p class="user-info__data--text">
							{{ club.direccion }}
						</p>
					</div>
					<div class="user-info__data">
						<p class="user-info__data--title">
							<i class="bx bxs-time-five"></i> Horario
						</p>
						<p>{{ club.horario }}</p>
					</div>
					<div class="user-info__data">
						<p class="user-info__data--title">
							<i class="bx bxs-group"></i> Aforo
						</p>
						<p>{{ club.aforo }}</p>
					</div>
					<div class="user-info__data">
						<p class="user-info__data--title">
							<i class="bx bxs-business"></i> RUC
						</p>
						<p>{{ club.ruc }}</p>
					</div>
					<div class="user-info__data">
						<p class="user-info__data--title">
							<i class="bx bx-selection"></i> Categoría
						</p>
						<p>Disco karaoke bar</p>
					</div>
				</div>
				<div class="map">
					<GmapMap
						:center="center"
						:zoom="10"
						map-type-id="terrain"
						style="width: 100%; height: 100%"
						@click="getpos"
						:options="{
							zoomControl: true,
							mapTypeControl: false,
							scaleControl: false,
							streetViewControl: false,
							rotateControl: false,
							fullscreenControl: true,
							disableDefaultUi: false
						}"
					>
						<GmapMarker
							:position="center"
							:clickable="true"
							:draggable="false"
						/>
					</GmapMap>
				</div>
			</div>
		</div>
		<div class="user-profile border border-ligth bg-white rounded">
			<div class="user-profile-cont">
				<div class="back-img bg-light"></div>
				<div class="user-profile__img">
					<div class="user-profile__img--cont">
						<img :src="club.fotoClub" alt="" />
						<div class="user-profile__img--btn">
							<a @click="showModal('change-foto')"
								><i class="bx bxs-camera"></i>Cambiar foto de perfil</a
							>
						</div>
					</div>
				</div>
				<hr />
				<div class="user-profile__description">
					<p>
						{{ club.descripcion }}
					</p>
				</div>
				<hr />
				<div class="user-profile__social">
					<a><i class="bx bxl-facebook"></i>facebook.com/club</a>
				</div>
				<div class="user-profile__social">
					<a><i class="bx bxl-instagram"></i>@clubdivertido</a>
				</div>
				<div class="user-profile__social">
					<a><i class="bx bxl-twitter"></i>@clubdivertido</a>
				</div>
			</div>
			<!-- <pre>{{ $data }}</pre> -->
		</div>
		<transition>
			<b-modal ref="my-modal" hide-footer title="Información para editar">
				<div class="">
					<form>
						<input type="hidden" :value="currentClub.fotoClub" />
						<div class="">
							<label for="">Nombre del Club</label>
							<input
								class="form-control"
								type="text"
								v-model="club.nombreClub"
							/>
						</div>
						<div class="">
							<label for="">Dirección</label>
							<input
								class="form-control"
								type="text"
								v-model="club.direccion"
							/>
						</div>
						<div class="">
							<label for="">Descripción</label>
							<input
								class="form-control"
								type="text"
								v-model="club.descripcion"
							/>
						</div>
						<!-- <div class="">
							<label for="">Horario</label>
							<input class="form-control" type="text" />
						</div>
						<div class="">
							<label for="">RUC</label>
							<input class="form-control" type="text" />
						</div> -->
						<button @click.prevent="updateClub()">actual</button>
					</form>
				</div>
			</b-modal>
		</transition>
		<transition>
			<b-modal ref="change-foto">
				<div>
					<div>
						<img
							width="200px"
							height="200px"
							:src="currentClub.fotoClub"
							alt=""
						/>
					</div>
					<input type="file" :src="currentClub.fotoClub" />
					<!-- <input type="hidden" :value="currentClub.nombreClub" />
					<input type="hidden" :value="currentClub.descripcion" />
					<input type="hidden" :value="currentClub.direccion" /> -->
				</div>
			</b-modal>
		</transition>
	</div>
</template>
<script>
	import { link } from 'fs';
	import { service } from '../api';
	export default {
		name: 'user',
		data() {
			return {
				center: { lat: -12.04318, lng: -77.02824 },

				club: {},
				show: false,
				user: {},
				userEdit: {
					nombreClub: null,
					descripcion: null,
					direccion: null
				}
			};
		},
		methods: {
			showModal(a) {
				this.$refs[a].show();
			},
			hideModal(a) {
				this.$refs[a].hide();
			},
			updateClub() {
				const club = {
					descripcion: this.club.descripcion,
					direccion: this.club.direccion,
					fotoClub: this.club.fotoClub,
					idAdministrador: this.club.idAdministrador,
					idLocalidad: this.club.idLocalidad,
					nombreClub: this.club.nombreClub
				};
				this.$store.dispatch('updateClub', club);
				this.$refs['my-modal'].hide();
			},
			getpos() {}
		},
		beforeCreate() {
			this.$store.dispatch('pullclubes').then(res => {
				res.map((item, index) => {
					// console.log(item);

					if (item.idAdministrador == sessionStorage.getItem('userId')) {
						console.log('soy e item', item);

						this.club = item;
						this.$store.dispatch('club', item);
					}
				});
			});
		},
		created() {
			let id = Number(sessionStorage.getItem('userId'));
			this.$store.dispatch('getClubById', id).then(res => {
				console.log('el res', res);
				this.club = this.$store.state.club;
			});
			service.getClubById(id).then(res => {
				console.log('res del service de id', res);
			});
		},
		updated() {},
		computed: {
			currentClub() {
				return this.$store.state.currentClub;
			}
		}
	};
</script>
<style lang="scss">
	@import '../assets/scss/variables.scss';
	@import '../assets/scss/common.scss';
	.user {
		display: grid;
		grid-template-columns: 9fr 5fr;
		height: 80vh;
		column-gap: 25px;
		@include to(movil) {
			display: flex;
			flex-direction: column;
			height: auto;
		}
		&-info {
			height: 100%;
			width: 100%;
			position: relative;
			&__btn {
				position: absolute;
				left: 25px;
				bottom: 15px;
				top: auto;
				border: none;
				padding: 5px 15px;
				border-radius: 5px;
				background: $amarillo;
				color: rgb(255, 255, 255);
			}
			&-cont {
				padding: 25px 25px 50px 25px;
				display: grid;
				grid-template-columns: 1fr 1fr;
				@include to(movil) {
					display: flex;
					flex-direction: column;
				}
				.map {
					height: 200px;
					width: 100%;
				}
			}
			&__title {
				margin-bottom: 0px;
				i {
					color: $hoverButton;
				}
			}
			&__data {
				margin-bottom: 15px;
				&--title {
					color: $hoverButton;
				}
				p {
					margin: 0;
				}
			}
		}
		&-profile {
			height: 100%;
			width: 100%;
			@include to(movil) {
				margin-top: 25px;
			}
			&-cont {
				padding: 25px;
				position: relative;
			}
			.back-img {
				height: 95px;
				width: 100%;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
			}
			&__description {
				text-align: justify;
				margin: 10px 0;
			}
			&__img {
				display: flex;
				justify-content: center;
				margin-bottom: 15px;
				position: relative;

				&--cont {
					position: relative;
					width: 125px;
					height: 125px;
					z-index: 10;
					img {
						height: 100%;
						width: 100%;
						border-radius: 50%;
					}
				}
				&--btn {
					position: absolute;
					z-index: 11;
					width: 125px;
					height: 125px;
					top: 0;
					left: 0;
					border-radius: 50%;
					background: rgba(66, 62, 62, 0.7);
					display: flex;
					justify-content: center;
					align-items: center;
					opacity: 0;
					transition: all 0.3s;
					a {
						font-size: 12px;
						color: white !important;
						font-weight: 600;
						cursor: pointer;
					}
					&:hover {
						opacity: 1;
					}
				}
			}
			&__social {
				text-align: left;
				margin-top: 5px;
				.bxl-facebook {
					color: #4267b2;
				}
				.bxl-instagram {
					color: #d20069;
				}
				.bxl-twitter {
					color: rgba(29, 161, 242, 1);
				}
			}
		}
	}
</style>
