.content-download {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: -72px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .btn-download {
    padding: 25px;
    background-color: #ea5d1a;
    border-radius: 4px;
    color: white;
    width: 280px;
    text-align: center;
    font-family: seat-bold;
    margin-top: 40px;
    cursor: pointer;
    border: none;
  }
}
