.layout-enter-active,
.layout-leave-active {
	transition: opacity 0.5s;
}

.layout-enter,
.layout-leave-active {
	opacity: 0;
}

.layout {
	min-height: 100%;

	&__header {
		width: 100%;
		position: relative;
		display: block;
		height: 72px;
		max-height: 72px;
		background-color: white;
		border-bottom: 1px solid #ccc;
		@include from(laptop-w) {
			margin: 0 auto;
		}
		@include to(movil) {
			height: 50px;
		}
		.section1 {
			height: 100%;
			@include from(laptop-w) {
				width: 1436px;
				margin: 0 auto;
			}
			.logo {
				height: 100%;
				padding: 20px 32px;
				width: auto;
				display: flex;
				justify-content: flex-start;
				@include to(movil) {
					padding: 12px 16px;
				}
				img {
					height: 100%;
				}
			}
		}
	}
	&__main {
		min-height: 100vh;
	}

	&__footer {
		margin-top: -165px;
		background-color: #33302e;
		width: 100%;
		height: auto;
		padding: 24px 32px 70px;
		color: white;
		//position: abs olute;
		@include to(movil) {
			padding: 0;
			height: auto;
		}

		.section1 {
			//border-top: 1px solid #82807f;
			width: 100%;
			margin: 0 auto;
			@include flexbox;
			@include justify-content(space-between);
			@include to(movil) {
				width: 100%;
				display: flex;
				flex-direction: column-reverse;
			}
			@include from(laptop-w) {
				width: 1436px;
			}
			.content-header {
				@include flexbox;
				@include justify-content(space-between);
				@include align-items(flex-start);
				@include flex-direction(column);
				width: 50%;

				@include to(movil) {
					margin-top: 0;
					width: 100%;
					padding: 20px 24px;
				}
				.logo {
					margin-bottom: 24px;
					@include to(movil) {
						margin: 10px 0;
						display: flex;
						justify-content: center;
						width: 100%;
					}
					.logo-footer {
						height: 52px;
						width: 52px;
						@include to(movil) {
							height: 64px;
							width: 64px;
						}
					}
				}
				.copyright {
					font-size: 14px;
					color: rgba(255, 255, 255, 0.6);
					font-family: seat-medium;

					@include to(movil) {
						font-size: 10px;
						margin: 10px 0;
					}
				}
			}

			.content-footer {
				@include flexbox;
				@include justify-content(space-between);
				@include align-items(flex-end);
				@include flex-direction(column);
				width: 50%;
				font-family: seat-medium;
				@include to(movil) {
					@include flex-direction(column-reverse);
					margin-top: 0px;
					width: 100%;
				}

				.legal {
					@include to(movil) {
						@include flexbox;
						@include flex-direction(column-reverse);
						@include align-items(flex-start);
						width: 100%;
						padding: 20px 24px;
					}
					a {
						font-size: 14px;
						font-family: seat-medium;
						font-weight: 100;
						color: rgba(255, 255, 255, 0.6);
						margin-left: 12px;
						@include to(movil) {
							margin: 10px 0;
						}
					}
				}
				.icon {
					margin-bottom: 24px;
					@include to(movil) {
						margin: 0;
						width: 100%;
						padding: 20px 0;
						@include flexbox;
						@include justify-content(space-around);
						border-bottom: 1px solid #82807f;
						border-top: 1px solid #82807f;
					}
					.icon-social {
						height: 30px;
						width: 30px;
						margin-left: 20px;
						@include to(movil) {
							margin-left: 0;
							height: 36px;
							width: 36px;
						}
					}
				}
			}
		}
	}

	&__modal {
		display: none;

		.overlay {
			@include opacidad(bg, #000000, 0.7, claro);
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 9999;
		}

		.box {
			width: 100%;
			height: 100%;
			z-index: 20;
			display: table;

			&__inset {
				display: table-cell;
				vertical-align: middle;
				width: 100%;
				position: relative;
				/*&--close{
		    	position: absolute;
		      top: -10;
		      right: -10;
		      z-index: 2;
		      cursor: pointer;
		    }*/
			}
		}
	}

	&__modal.active {
		display: block;
	}
}
