<script>
	export default {
		components: {},
		methods: {},
		created() {
			window.addEventListener('scroll', () => {
				document.documentElement.style.setProperty(
					'--scroll-y',
					`${window.scrollY}px`
				);
			});
		}
	};
</script>
<template>
	<div id="app">
		<router-view />
	</div>
</template>

<style lang="scss">
	@import 'assets/scss/responsive.scss';
	@import './assets/scss/common.scss';
	#app {
		background-image: white;
		margin: 0;
		padding: 0;
	}
	* {
		margin: 0;
		padding: 0;
	}
</style>
