.icon::before {
  display: inline-block;
  margin-right: .5em;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

.globo{
	padding: 10px;
	width: 220px;
	border­radius: 10px;
	background­color: #8f0;
	font­family: "trebuchet ms", tahoma, verdana, sans­serif;
	font­size: 1.4em;
	&:before{
		content:"";
		position: absolute;
		width: 0;
		height: 0;
		border­bottom: 30px solid #8f0;
		border­right: 20px solid transparent;
		border­left: 20px solid transparent;
		margin: ­30px 0 0 90px;
	}
}