@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font1: roboto;

$font2: Noto Sans;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
// @font-face {
// 	font-family: seat-bold;
// 	src: url('../../fonts/seat-bold.ttf') format('truetype');
// }

// @font-face {
// 	font-family: seat-medium;
// 	src: url('../../fonts/seat-medium.ttf') format('truetype');
// }
@font-face {
	font-family: 'FontAwesome';
	src: url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0')
			format('embedded-opentype'),
		url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0')
			format('woff2'),
		url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0')
			format('woff'),
		url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0')
			format('truetype'),
		url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular')
			format('svg');
	font-weight: normal;
	font-style: normal;
}
